<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="3" cellpadding="3" style="font-size:9" width="100%">
        <tbody>
            <tr>
                <td><h3>Cash Receipt Book</h3></td>
            </tr>
            <tr>
                <td>@String.Format("{0:MM/dd/yyyy}", @ViewBag.dateFrom) - @String.Format("{0:MM/dd/yyyy}", @ViewBag.dateTo)</td>
            </tr>
        </tbody>
    </table>
    <table border="0">
        <tr>
            <td colspan="10"></td>
        </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:7.5;border-color:gray;border-collapse: collapse;font-weight:bold" width="100%">
        <thead>
            <tr align="left">
                <td>Date</td>
                <td colspan="3">Received from</td>
                <td colspan="3">Particulars</td>
                <td>OR #</td>
                <td colspan="3">Account</td>
                <td>Debit</td>
                <td>Credit</td>
            </tr>
        </thead>
    </table>
    <div><hr width="100%"></div>
    @foreach(var r in @Model) {
        <table border="0" cellspacing="0" cellpadding="0" style="font-size:7.5;border-color:gray;border-collapse: collapse;" width="100%">
            <tbody>   
                <tr>
                    <td valign="top">@String.Format("{0:MM/dd/yyyy}", @r.timestamps.issuedAt)</td>
                    <td valign="top" colspan="3">@r.payor.name</td>
                    <td valign="top" colspan="3">@r.particulars</td>
                    <td valign="top">@r.number</td>
                    <td colspan="5">
                        <table border="0" cellpadding="0" cellspacing="0">
                            
                                    @foreach(var d in r.accounts.debit) {
                                        <tr>
                                            <td colspan="15" valign="top">@d.name</td>
                                            <td valign="top">@String.Format("{0:N2}", @d.amount)</td>
                                            <td></td>
                                        </tr>
                                    }
                                    @foreach(var c in r.accounts.credit) {
                                        <tr>
                                            <td colspan="15" valign="top">
                                                <table border="0">
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td colspan="15">@c.name</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                            <td valign="top">@String.Format("{0:N2}", @c.amount)</td>
                                        </tr>
                                    }
                                
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div><hr width="100%"></div>
    } 
    
</body>
</html>