@for(int ulit=0;ulit<=1;ulit++) {
<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:8px" width="100%">
                    <tr>
                        <td>&nbsp;</td>
                        <td align="center" valign="top">
                            KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.<br>
                            HEAD OFFICE<br>
                            CHECK VOUCHER<br>
                        </td>
                        <td align="right" rowspan="2">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/kmbidevrepo/images/kmbi_logo2.png" width="170px" height="40px"/>
                        </td>
                    </tr>
                    <tr>
                        
                        <td valign="bottom" colspan="2">

                            <table border="0" style="font-size:9px;font-weight:bold" >
                                <tr>
                                    <td>&nbsp;Check No.: @Model.chequeNumber</td>
                                    <td colspan="5">&nbsp;Supplier: @Model.supplier.name<br></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;Date: @String.Format("{0:MM/dd/yyyy}", @Model.timestamps.issuedAt)</td>
                                    <td colspan="5">&nbsp;CV #: @Model.cvNumber</td>
                                </tr>
                            </table>
                        </td>
                            
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    
    <table border="1" cellspacing="0" cellpadding=".1" style="font-size:8px" width="100%">
        <tr align="center" style="font-weight:bold;font-style:italic">
            <td>Ln</td>
            <td colspan="2">Budget Code</td>
            <td colspan="7">Account Title</td>
            <td colspan="8">Particulars</td>
            <td colspan="2">Amount</td>
            <td colspan="2">Signature</td>
        </tr>  
        @{
            int ctr = 1;
            List<String> liner = new List<String>();
            var particular = @Model.particulars;
            var haba = 37;
           

            for(var ctri=0;ctri<=particular.Length -1;ctri=ctri+haba) {
                
                while(haba <=  (particular.Length -1) ) {
                    haba++;
                }
                
                
                var lele = haba;
                
                if((particular.Length -1) - ctri < haba) {
                    lele = (particular.Length -1) - (ctri-1);
                }
                
                liner.Add(particular.Substring(ctri,lele));
            }

            //liner.Add(particular);
            
        }

        @foreach(var d in @Model.accounts.debit) {
            <tr>
                <td align="center">@ctr</td>
                <td colspan="2"></td>
                <td colspan="7">
                    &nbsp;@d.name
                </td>
                <td colspan="8">
                        &nbsp;
                        @if(@liner.Count>ctr-1) {
                            @liner[ctr-1];
                        }
                </td>
                <td colspan="2" align="right">
                    @String.Format("{0:N2}", @d.amount)&nbsp;&nbsp;
                </td>
                <td colspan="2"></td>
            </tr>   
            ctr = ctr + 1;
        }
        @foreach(var d in @Model.accounts.credit) {
            @if(@d.code.ToString().Substring(0,3)!="101") {
                <tr>
                    <td align="center">@ctr</td>
                    <td colspan="2"></td>
                    <td colspan="7">
                        &nbsp;@d.name
                    </td>
                    <td colspan="8">
                        <span>
                            &nbsp;
                            @if(@liner.Count>ctr-1) {
                                @liner[ctr-1];
                            }
                        </span>
                    </td>
                    <td colspan="2" align="right">
                        &nbsp;(@String.Format("{0:N2}", @d.amount))&nbsp;
                    </td>
                    <td colspan="2"></td>
                </tr>   
                ctr = ctr + 1;
            }
        }
        @for(var ctr2=ctr;ctr2<=20;ctr2++) {
            <tr>
                <td align="center">@ctr2</td>
                <td colspan="2"></td>
                <td colspan="7"></td>
                <td colspan="8">
                    <span>
                        &nbsp;
                        @if(@liner.Count>ctr2-1) {
                            @liner[ctr2-1];
                        }
                    </span>
                </td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr> 
        }
        <tr>
            <td align="center"></td>
            <td colspan="2"></td>
            <td colspan="7">
                &nbsp;@Model.accounts.credit[0].name
            </td>
            <td colspan="8">
            </td>
            <td colspan="2" align="right"><b>@String.Format("{0:N2}", (@Model.accounts.credit[0].amount))&nbsp;&nbsp;</b></td>
            <td colspan="2"></td>
        </tr> 
        
    </table>

    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:7px;text-align:center" width="100%">
                    <tr>
                        <td>PREPARED BY:</td>
                        <td>CHECKED BY:</td>
                        <td>REVIEWED BY:</td>
                        <td>APPROVED BY:</td>
                        <td>RECEIVED BY:</td>
                        <td>DATE</td>
                    </tr>
                    <tr>
                        <td colspan="6"><br></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:7px;text-align:center" width="100%">
                    <tr>
                        <td>MGL</td>
                        <td>MCV</td>
                        <td>WCV</td>
                        <td>MPF</td>
                        <td>SIG. OVER PRINTED NAME</td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>    
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:7px" width="100%">
                    <tr>
                        <td colspan="2">CV-DFD-CV-2006-004</td>
                        <td colspan="4">NOTE:POST AUDIT</td>        
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table border="0">
        <tr>
            <td colspan="10"></td>
        </tr>
        <tr>
            <td colspan="10"></td>
        </tr>
    </table>     
</body>
</html>

}