<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="1" cellspacing="1" cellpadding="2" style="font-size:9" width="100%">
        <tr>
            <td colspan="1">Code</td>
            <td colspan="4">Name</td>
            <td colspan="7">Description</td>
        </tr>
        <tr>
                <td colspan="12">&nbsp;</td>
            </tr>
        @foreach(var c in @Model) {
            <tr>
                <td colspan="1">&nbsp;&nbsp;@c.code</td>
                <td colspan="4">&nbsp;&nbsp;@c.name</td>
                <td colspan="7">&nbsp;&nbsp;@c.description</td>
                
            </tr>
            @foreach(var s in @c.subsidiary) {
                <tr>
                    <td colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@s.code</td>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@s.name</td>
                    <td colspan="7">@s.description</td>
                </tr>
            }
            <tr>
                <td colspan="12">&nbsp;</td>
            </tr>
        }
    </table>
</body>
</html>