@foreach(kmbi_core_master.coreMaster.Models.cv i in @Model.cv)
{
    <html>
        <head>
            <title></title>
        </head>
        <body style="font-family:Tahoma">
            
                <br>
                <table border="0" cellspacing="0" cellpadding="0"  width="100%" >
                    <tbody>
                        
                        <tr>
                            <td colspan="5"><br></td>
                        </tr>
                        <tr>
                            <td  align="left" >
                            </td>
                            <td  align="center" style="font-size:12">
                                <b>@Model.branch[0].name</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"><br></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <b>&nbsp;</b>
                            </td>
                            <td align="right"><br><br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" >
                                <b style="font-size:10">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @i.payee</b><br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @i.chequeNumber
                                
                            </td>
                            <td align="center" style="font-size:8">@String.Format("{0:MM/dd/yyyy}", @Model.loans[0].disbursementDate)</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size:10">
                            </td >
                            <td colspan="2" align="left" style="font-size:8">@i.particulars</td>
                            <td align="center" style="font-size:8"></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:7;" width="100%" bordercolor="gray">
                    <tbody>
                        @{
                            int c = 0;
                            double tot = 0;
                            double totInterest = 0;
                        }
                        @foreach (kmbi_core_master.coreMaster.Models.cvMembers m in @i.members)
                        {
                            c = c + 1;
                            tot = tot + @m.loanAmount;
                            totInterest = totInterest + (@m.loanAmount * 0.2);
                            <tr>
                                <td colspan="40">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @c. &nbsp;&nbsp; @m.name</td>
                                <td colspan="30">Loan Receivable-Group</td>
                                <td  colspan="30" align="right">@String.Format("{0:N2}", @m.loanAmount)
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:7;" width="100%" bordercolor="gray">
                    
                    <tr >
                        <td></td>
                        <td ></td>
                        <td align="right" >
                            Interest Receivable
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td align="right" style="font-size:7; font-weight: bold">
                            @String.Format("{0:N2}", @totInterest)
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr >
                        <td></td>
                        <td></td>
                        <td align="right">
                            Unearned Interest
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td align="right" style="font-size:7; font-weight: bold">
                            (@String.Format("{0:N2}", @totInterest))
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td></td>
                        <td></td>
                        <td align="right" >
                            CASH
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td align="right" style="font-size:7; font-weight: bold">
                            (@String.Format("{0:N2}", @tot))
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                        </td>   
                    </tr>
                </table>
                <br><br>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size:7;text-align:center" width="100%" bordercolor="gray">
                    <tr>
                        <td>______________________________</td>
                        <td>______________________________</td>
                        <td>______________________________</td>
                        <td>______________________________</td>
                    </tr>
                    <tr>
                        <td>Prepared By</td>
                        <td>Checked By</td>
                        <td>Approved By</td>
                        <td>Received By</td>
                    </tr>
                </table>

                <div style='page-break-before:always'></div>
        </body>
    </html>
}