<html>
    <head>
        <title></title>
    </head>
    <body>
        
            <br>
            <table border="0" cellspacing="1" cellpadding="2" style="font-size:6" width="100%">
                <tbody>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.branch.name</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"><br></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <b>&nbsp;</b>
                        </td>
                        <td align="right">@String.Format("{0:MM/dd/yyyy}", @Model.cv.datePrepared)
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @Model.cv.payee</b>
                        </td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <br>
            <table border="0" cellspacing="1" cellpadding="2" style="font-size:5;" width="100%" bordercolor="gray">
                <tbody>
                    <tr>
                        <td colspan="10">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @Model.cv.particulars</b>
                        </td>
                    </tr>
                    @{
                        int c = 0;
                        double tot = 0;
                    }
                    @foreach (var m in Model.members)
                    {
                        c = c + 1;
                        tot = tot + @m.amount;
                        <tr>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @c</td>
                            <td colspan="8">@m.name</td>
                            <td align="right">@String.Format("{0:N2}", @m.amount)
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table border="0" cellspacing="1" cellpadding="2" style="font-size:8;" width="100%" bordercolor="gray">
                <tr style="font-weight: bold">
                    <td align="right" colspan="5">@String.Format("{0:N2}", @tot)
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
            </table>

            <div style='page-break-before:always'></div>
    </body>
</html>