<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:9" width="100%">
        <tbody>
            <tr align="center">
                <td>KABALIKAT PARA SA MAUNLAD NA BUHAY INC.</td>
            </tr>
            <tr align="center">
                <td><font size="3">HEAD OFFICE</font></td>
            </tr>
            <tr align="center">
                <td>DAILY BALANCES OF ACCOUNTS</td>
            </tr>
            <tr align="center">
                <td border="0"><font color="white">hey</font></td>
            </tr>
        </tbody>
    </table>
    <table border="1" cellspacing="0" cellpadding="0" style="font-size:9" width="100%" bordercolor="gray">
        <tbody>
            <tr align="center" bgcolor="silver">
                <td colspan="14">@String.Format("{0:MM/dd/yyyy}", @Model.from) - @String.Format("{0:MM/dd/yyyy}", @Model.to) FINAL</td>
            </tr>
            <tr style="color:white" bgcolor="black" align="center">
                <td colspan="1">&nbsp;Acct.</td>
                <td colspan="7">&nbsp;Account Title</td>
                <td colspan="2">Previous&nbsp;</td>
                <td colspan="2">Today&nbsp;</td>
                <td colspan="2">To Date&nbsp;</td>
            </tr>

            @foreach(var item in @Model.assetDetails) {
                <tr>
                    <td colspan="1" align="center">&nbsp;@item.acct</td>
                    <td colspan="7">&nbsp;@item.accountTitle</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.previous)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.today)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.toDate)&nbsp;</td>
                </tr>
                if(item.subsidiaries.Length > 0) {
                    @foreach(var item2 in @item.subsidiaries){
                        <tr>
                            <td colspan="1">@item2.acct</td>
                            <td colspan="7">&nbsp;@item2.accountTitle</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.previous)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.today)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.toDate)&nbsp;</td>
                        </tr>
                    };
                }
            };
            <tr>
                <td colspan="14" border="0" height="1" style="font-size:2px"><font color="white">hey</font></td>
            </tr>
            @foreach(var item in @Model.liabilitiesDetails) {
                <tr>
                    <td colspan="1" align="center">&nbsp;@item.acct</td>
                    <td colspan="7">&nbsp;@item.accountTitle</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.previous)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.today)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.toDate)&nbsp;</td>
                </tr>
                if(item.subsidiaries.Length > 0) {
                    @foreach(var item2 in @item.subsidiaries){
                        <tr>
                            <td colspan="1">@item2.acct</td>
                            <td colspan="7">&nbsp;@item2.accountTitle</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.previous)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.today)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.toDate)&nbsp;</td>
                        </tr>
                    };
                }
            };
            <tr>
                <td colspan="14" border="0" height="1" style="font-size:2px"><font color="white">hey</font></td>
            </tr>
            @foreach(var item in @Model.fundBalanceDetails) {
                <tr>
                    <td colspan="1" align="center">&nbsp;@item.acct</td>
                    <td colspan="7">&nbsp;@item.accountTitle</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.previous)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.today)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.toDate)&nbsp;</td>
                </tr>
                if(item.subsidiaries.Length > 0) {
                    @foreach(var item2 in @item.subsidiaries){
                        <tr>
                            <td colspan="1">@item2.acct</td>
                            <td colspan="7">&nbsp;@item2.accountTitle</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.previous)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.today)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.toDate)&nbsp;</td>
                        </tr>
                    };
                }
            };
            <tr>
                <td colspan="14" border="0" height="1" style="font-size:2px"><font color="white">hey</font></td>
            </tr>
            @foreach(var item in @Model.incomeDetails) {
                <tr>
                    <td colspan="1" align="center">&nbsp;@item.acct</td>
                    <td colspan="7">&nbsp;@item.accountTitle</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.previous)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.today)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.toDate)&nbsp;</td>
                </tr>
                if(item.subsidiaries.Length > 0) {
                    @foreach(var item2 in @item.subsidiaries){
                        <tr>
                            <td colspan="1">@item2.acct</td>
                            <td colspan="7">&nbsp;@item2.accountTitle</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.previous)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.today)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.toDate)&nbsp;</td>
                        </tr>
                    };
                }
            };
            <tr>
                <td colspan="14" border="0" height="1" style="font-size:2px"><font color="white">hey</font></td>
            </tr>
            @foreach(var item in @Model.expensesDetails) {
                <tr>
                    <td colspan="1" align="center">&nbsp;@item.acct</td>
                    <td colspan="7">&nbsp;@item.accountTitle</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.previous)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.today)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item.toDate)&nbsp;</td>
                </tr>
                if(item.subsidiaries.Length > 0) {
                    @foreach(var item2 in @item.subsidiaries){
                        <tr>
                            <td colspan="1">@item2.acct</td>
                            <td colspan="7">&nbsp;@item2.accountTitle</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.previous)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.today)&nbsp;</td>
                            <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @item2.toDate)&nbsp;</td>
                        </tr>
                    };
                }
            };
         
            <tr bgcolor="black" style="color:white">
                <td colspan="1"></td>
                <td colspan="7">&nbsp;Variance</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.variance.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.variance.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.variance.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" border="0" style="font-size:2px"><font color="white">hey</font></td>
            </tr>
            <tr>
                <td colspan="14" border="0" align="center">SUMMARY</td>
            </tr>
          
          
            <tr>
                <td colspan="1"></td>
                <td colspan="7">&nbsp;Asset</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.assetSummary.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.assetSummary.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.assetSummary.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="7">&nbsp;Liabilities</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.liabilitiesSummary.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.liabilitiesSummary.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.liabilitiesSummary.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="7">&nbsp;Fund Balance</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.fundBalanceSummary.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.fundBalanceSummary.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.fundBalanceSummary.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="7">&nbsp;Income</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.incomeSummary.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.incomeSummary.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.incomeSummary.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="7">&nbsp;Expenses</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.expensesSummary.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.expensesSummary.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.expensesSummary.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="7">&nbsp;NET INCOME (NET LOSS)</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.netIncomeLoss.previous)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.netIncomeLoss.today)&nbsp;</td>
                <td colspan="2" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @Model.summary.netIncomeLoss.toDate)&nbsp;</td>
            </tr>
            <tr>
                <td colspan="14" border="0" style="font-size:2px"><font color="white">hey</font></td>
            </tr>
            <tr>
                <td colspan="14" border="0"><i>Note: Except for the SUMMARY, positive amount represents debit balance; negative amount represents credit balance.</i></td>
            </tr>
        </tbody>
    </table>
</body>
</html>