@model kmbi_core_master.reports.Models.repDisclosure

@for (Int32 i = 0; i <= Model.members.Count - 1; i++)
{
<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="0" cellpadding="0" style="font-size:6.5" width="100%">
            <tr>
                <td colspan="100" align="center">
                    <b>KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.</b><br>
                    DISCLOSURE OF STATEMENT OF LOAN/CREDIT TRANSACTION<br>
                    (As Required under R.A. 3765, Truth in Lending Act)
                </td>
            </tr>
            <tr>
                <td colspan="14">Name of Borrower:</td>
                <td colspan="86"><b>@Model.members[i].name.first @Model.members[i].name.middle @Model.members[i].name.last</b></td>
            </tr>
            <tr>
                <td colspan="14">Address:</td>
                <td colspan="86">@Model.members[i].address</td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="font-size:6.5" width="100%">
            <tr>
                <td colspan="70"><b>1. LOAN AMOUNT</b></td>
                <td colspan="30" align="right"><b><u>@String.Format("{0:N2}", @Model.members[i].principalAmount)</u></b></td>
            </tr>
            <tr>
                <td colspan="70">&nbsp;</td>
                <td colspan="15" align="center"><b>Not Deducted From</b></td>
                <td colspan="15" align="center"><b>Deducted From</b></td>
            </tr>
            <tr>
                <td colspan="70"><b>2. FINANCES CHARGES</b></td>
                <td colspan="30" align="center"><b>Proceeds of Loan</b></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">a. Processing Fee</td>
                <td colspan="11" align="right">@String.Format("{0:N2}", @Model.members[i].upfrontFees.loanProcessingFee)</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">b. Membership Fee</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">c. Mutual Redemption Fund (MRF)</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">d. Others</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">&nbsp;&nbsp;&nbsp;Initial CBU </td>
                <td colspan="11" align="right">@String.Format("{0:N2}", (@Model.members[i].loanCycle==1) ? (@Model.members[i].principalAmount * .05) : 0)</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67"><b>Total Finance Charges</b></td>
                <td colspan="11" align="right"><b><u>@String.Format("{0:N2}", (@Model.members[i].upfrontFees.loanProcessingFee) + ((@Model.members[i].loanCycle==1) ? (@Model.members[i].principalAmount * .05) : 0))</u></b></td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right"><u>-</u></td>
            </tr>
            <tr>
                <td colspan="100"><b>3. NON-FINANCE CHARGES</b></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">a. Micro-Insurance Premium</td>
                <td colspan="11" align="right">@String.Format("{0:N2}", @Model.members[i].upfrontFees.miPremium)</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">b. Loan Insurance (CGLI)</td>
                <td colspan="11" align="right">@String.Format("{0:N2}", @Model.members[i].upfrontFees.cgli)</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">c. Documentary Stamps</td>
                <td colspan="11" align="right">@String.Format("{0:N2}", @Model.members[i].upfrontFees.dst)</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">d. Notarial Fees</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">e. Others (Specify)</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            @{ 
                double totalNonFinance = 0;
                //double nFinanceProcessingFee = @Model.members[i].upfrontFees.loanProcessingFee;
                double nFinanceMi = @Model.members[i].upfrontFees.miPremium;
                double nFinanceCgli = @Model.members[i].upfrontFees.cgli;
                double nFinanceDst = @Model.members[i].upfrontFees.dst;
                //totalNonFinance = nFinanceProcessingFee + nFinanceMi + nFinanceCgli + nFinanceDst;
                totalNonFinance = nFinanceMi + nFinanceCgli + nFinanceDst;
            }
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67"><b>Total Non-Finance Charges</b></td>
                <td colspan="11" align="right"><b><u>@String.Format("{0:N2}", @totalNonFinance)</u></b></td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right"><u>-</u></td>
            </tr>
            <tr>
                <td colspan="89"><b>4. TOTAL DEDUCTIONS FROM PROCEEDS OF LOAN</b></td>
                <td colspan="11"><u>-</u></td>
            </tr>
            <tr>
                <td colspan="89"><b>5. NET PROCEEDS OF LOAN</b></td>
                <td colspan="11" align="right"><u>@String.Format("{0:N2}", @Model.members[i].principalAmount)</u></td>
            </tr>
            <tr>
                <td colspan="89"><b>6. PERCENTAGE OF FINANCE CHARGES TO TOTAL AMOUNT FINANCE</b></td>
                <td colspan="11"><u></u></td>
            </tr>
            @{
                double eir = 0;
                int term = @Model.loanType.term;
                if (term == 22)
                {
                    eir = 7.13;
                }
                else
                {
                    eir = 6.56;
                }
            }
            <tr>
                <td colspan="89"><b>7. EFFECTIVE INTEREST RATE (Interest and Other Charges)</b></td>
                <td colspan="11" align="right"><u>@eir %</u></td>
            </tr>
            <tr>
                <td colspan="100"><b>8. SCHEDULE OF PAYMENTS</b></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">a. First Payment due on <b>@Model.members[i].schedule[0].collectionDate.ToString("MM/dd/yyyy")</b></td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">-</td>
            </tr>
            @{ 
                double weeklyPrincipal = 0;
                double weeklyInterest = 0;
                double totalPInterst = 0;

                weeklyPrincipal = @Model.members[i].schedule[0].currentPrincipalDue;
                weeklyInterest = @Model.members[i].schedule[0].currentInterestDue;

                double tWeeklyAmount = weeklyPrincipal + weeklyInterest;
                totalPInterst = (@Model.members[i].principalAmount * 1.2)  ;
            }
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="67">b. Total Installment Payments</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right">@String.Format("{0:N2}", @tWeeklyAmount)</td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td colspan="64">Payable in <b>@Model.loanType.term</b> weeks at <b>@String.Format("{0:N2}", @tWeeklyAmount)</b> each installment</td>
                <td colspan="11" align="right">-</td>
                <td colspan="8">&nbsp;</td>
                <td colspan="11" align="right"><u>@String.Format("{0:N2}", @totalPInterst)</u></td>
            </tr>
            <tr>
                <td colspan="100"><b>9. COLLATERAL</b></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="97">This is wholly/partly secured by:</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="3">___</td>
                <td colspan="15">Post Dated Checks(PDC)</td>
                <td colspan="3">___</td>
                <td colspan="15">Chattles</td>
                <td colspan="71">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="3">___</td>
                <td colspan="15">Real Estate</td>
                <td colspan="3">___</td>
                <td colspan="35">UNSECURED (Thru Automatic Payroll Deduction</td>
                <td colspan="51">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="3">___</td>
                <td colspan="20">Government Securities</td>
                <td colspan="74">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="100"><b>10. ADDITIONAL CHARGES IN CASE CERTAIN STIPULATIONS ARE NOT MET BY THE BORROWER.</b></td>
            </tr>
            <tr>
                <td colspan="25" align="center">NATURE</td>
                <td colspan="25" align="center">AMOUNT</td>
                <td colspan="50">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="9">&nbsp;</td>
                <td colspan="16">a. Late Charge</td>
                <td colspan="25" align="right">-</td>
                <td colspan="50">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="9">&nbsp;</td>
                <td colspan="16">b. Penalty</td>
                <td colspan="25" align="right">-</td>
                <td colspan="50">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="9">&nbsp;</td>
                <td colspan="16">c. Others</td>
                <td colspan="25" align="right">-</td>
                <td colspan="50">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="100">
                    CERTIFIED CORRECT:
                    <font color="white">-</font><br>
                </td>
            </tr>
            <tr style="text-align:center">
                <td colspan="50"><b>@Model.branch[0].head</b></td>
                <td colspan="50"><b>MANAGER</b></td>
            </tr>
            <tr style="text-align:center">
                <td colspan="50"><b>----------------------------------------------------------------------</b></td>
                <td colspan="50"><b>----------------------------------------------------------------------</b></td>
            </tr>
            <tr style="text-align:center">
                <td colspan="50">(Signature of Creditor/Authorized Representative Over Printed Name)</td>
                <td colspan="50">Position<br></td>
            </tr>
            <tr>
                <td colspan="100" style="text-align:center">
                    <!--<font color="white">-</font><br>-->
                    I ACKNOWLEDGE RECEIPT OF A COPY OF THIS STATEMENT PRIOR TO THE CONSUMATION OF THE CREDIT<br>
                    TRANSACTION AND THAT I UNDERSTAND AND FULLY AGREE TO THE TERMS AND CONDITIONS THEREOF. 
                    <!--<font color="white">-</font>-->
                </td>
            </tr>
            <tr style="text-align:center">
                <td colspan="50"><b>@Model.members[i].name.first @Model.members[i].name.middle @Model.members[i].name.last</b></td>
                <td colspan="50"><b>@Model.disbursementDate.ToString("MM/dd/yyyy")</b></td>
            </tr>
            <tr style="text-align:center">
                <td colspan="50"><b>----------------------------------------------------------------------</b></td>
                <td colspan="50"><b>----------------------------------------------------------------------</b></td>
            </tr>
            <tr style="text-align:center">
                <td colspan="50">(Signature of Borrower over Printed Name)</td>
                <td colspan="50">Date</td>
            </tr>
            <tr>
                <font color="white">-</font><br>
                <td colspan="100"><b>Notice to the borrower:</b> Your are entitled to a copy of this paper which you shall sign.</td>
            </tr>
        </table>
        <font color="white">-</font>
        <table border="0">
            <tr>
                <td colspan="13">&nbsp;</td>
                <td colspan="74">
                    <table border=".2" cellspacing="0" cellpadding="0.5" style="font-size:6.5;" width="100%" bordercolor="gray">
                        <tr style="text-align: center">
                            <td colspan="5">Wk No</td>
                            <td colspan="35">Repayment Date</td>
                            <td colspan="15">Principal</td>
                            <td colspan="15">Interest</td>
                            <td colspan="15">CBU</td>
                            <td colspan="15">Total</td>
                        </tr>
                        @{ 
                            int c = 0;
                            double principal = 0;
                            double interest = 0;
                            double cbu = 0;
                            double total = 0;
                            //double subTotal = 0;
                            double subTotalTotal = 0;
                        }
                        @foreach (kmbi_core_master.coreMaster.Models.schedule s in @Model.members[i].schedule)
                        {
                            c = c + 1;
                            var curCbu = @s.currentCbuDue;
                            if(@Model.loanType.term==22&&c==22)
                                curCbu = 150;

                            double totalWeekly = @s.currentPrincipalDue + @s.currentInterestDue + @curCbu;
                            <tr>
                                <td colspan="5" align="center">@c</td>
                                <td colspan="35" align="center">@s.collectionDate.ToString("MM/dd/yyyy")</td>
                                <td colspan="15" align="right">@String.Format("{0:N2}", @s.currentPrincipalDue)</td>
                                <td colspan="15" align="right">@String.Format("{0:N2}", @s.currentInterestDue)</td>
                                <td colspan="15" align="right">@String.Format("{0:N2}", @curCbu)</td>
                                <td colspan="15" align="right">@String.Format("{0:N2}", @totalWeekly)</td>
                            </tr>

                            principal = principal + @s.currentPrincipalDue;
                            interest = interest + @s.currentInterestDue;
                            subTotalTotal = subTotalTotal + totalWeekly;
                            cbu = cbu + @curCbu;
                            total = total + (@s.currentPrincipalDue + @s.currentInterestDue + @curCbu);
                        }
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0.5" style="font-size:6.5;" width="100%" bordercolor="gray">
                        <tr style="font-weight: bold">
                            <td colspan="5" align="right"></td>
                            <td colspan="35" align="center">TOTAL</td>
                            <td colspan="15" align="right">@String.Format("{0:N2}", @principal)</td>
                            <td colspan="15" align="right">@String.Format("{0:N2}", @interest)</td>
                            <td colspan="15" align="right">@String.Format("{0:N2}", @cbu)</td>
                            <td colspan="15" align="right">@String.Format("{0:N2}", @total)</td>
                        </tr>
                    </table>
                </td>
                <td colspan="13">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>
<div style='page-break-before:always'></div>
}

