@model kmbi_core_master.reports.Models.repDisclosure
<html>
    <head>
        <title></title>
    </head>
    <body>  
        <table border="0" cellspacing="1" cellpadding="1" style="font-size:7" width="100%">
            <tr>
                <td colspan="100" align="center">
                    <b>KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.</b><br>
                    <u>DISCLOSURE STATEMENT ON LOAN/CREDIT TRANSACTION - to be retained by KMBI Branch</u><br>
                    (As Required under R.A. 3765, Truth in Lending Act)<br><br>
                    <b><i>GROUP LOAN PRODUCT</i></b><br><br>
                    BY SIGNING BELOW, I ACKNOWLEDGE THE RECEIPT OF THE LOAN DISCLOSURE STATEMENT (TEMPLATE ATTACHED HEREWITH)<br>
                    PRIOR TO THE CONSUMMATION OF THE CREDIT TRANSACTION AND THAT I UNDERSTAND AND FULLY AGREE TO THE TERMS AND<br>
                    CONDITIONS THEREOF. I CONFIRM THAT THE DETAILS BELOW ARE CORRECTLY REFLECTED IN THE LOAN DISCLOSURE STATEMENT.<br>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
                <td colspan="14" align="right">KMBI Branch:</td>
                <td colspan="76">@Model.branch[0].name</td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
                <td colspan="14" align="right">Center:</td>
                <td colspan="76">@Model.center[0].code</td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
                <td colspan="14" align="right">Date of Release:</td>
                <td colspan="76">@Model.disbursementDate.ToString("MM/dd/yyyy")</td>
            </tr>
        </table>
        <br><br>
        <table border=".2" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tr style="text-align: center">
                <td colspan="30">Program Member</td>
                <td colspan="10">Loan Amount</td>
                <td colspan="10">Net Proceeds</td>
                <td colspan="10">Effective Interest Rate</td>
                <td colspan="10">Installment Amount</td>
                <td colspan="10">Installment No</td>
                <td colspan="10">Period</td>
                <td colspan="10">Signature</td>
            </tr>
            @{
                int c = 0;
                double totalPrincipal = 0;

                double eir = 0;
                int term = @Model.loanType.term;
                if (term == 22)
                {
                    eir = 7.13;
                }
                else
                {
                    eir = 6.56;
                }

                double weeklyInstallment = 0;
                double totalInstallmentAmount = 0;
                
            }
            @foreach (kmbi_core_master.coreMaster.Models.loanMembers mem in @Model.members)
            {
                c = c + 1;
                totalPrincipal = totalPrincipal + mem.principalAmount;
                weeklyInstallment = @mem.schedule[0].currentPrincipalDue + @mem.schedule[0].currentInterestDue;
                totalInstallmentAmount += weeklyInstallment;
                <tr>
                    <td colspan="30">@c @mem.name.first @mem.name.middle @mem.name.last</td>
                    <td colspan="10" align="right">@String.Format("{0:N2}", @mem.principalAmount)</td>
                    <td colspan="10" align="right">@String.Format("{0:N2}", @mem.principalAmount)</td>
                    <td colspan="10" align="center">@String.Format("{0:N2}", @eir)</td>
                    <td colspan="10" align="right">@String.Format("{0:N2}", @weeklyInstallment)</td>
                    <td colspan="10" align="center">@term</td>
                    <td colspan="10" align="center">WEEKS</td>
                    <td colspan="10">&nbsp;</td>
                </tr>
            }
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
            <tr>
                <td colspan="30" align="right"><b>TOTAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                </td>
                <td colspan="10" align="right"><b>@String.Format("{0:N2}", @totalPrincipal)</b></td>
                <td colspan="10" align="right"><b>@String.Format("{0:N2}", @totalPrincipal)</b></td>
                <td colspan="10">&nbsp;</td>
                <td colspan="10" align="right"><b>@String.Format("{0:N2}", @totalInstallmentAmount)</b></td>
                <td colspan="10">&nbsp;</td>
                <td colspan="10">&nbsp;</td>
                <td colspan="10">&nbsp;</td>
            </tr>
        </table>
        <br><br><br>
        <table border="0" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
            <tr style="text-align:center">
                <td colspan="20">Checked by:</td>
                <td colspan="30">@Model.preparedBy</td>
                <td colspan="20">Reviewed and Noted by:</td>
                <td colspan="30">@Model.checkedBy</td>
            </tr>
            <tr style="text-align:center">
                <td colspan="20">&nbsp;</td>
                <td colspan="30">____________________________________</td>
                <td colspan="20">&nbsp;</td>
                <td colspan="30">____________________________________</td>
            </tr>
            <tr style="text-align:center">
                <td colspan="20">&nbsp;</td>
                <td colspan="30"><b></b></td>
                <td colspan="20">&nbsp;</td>
                <td colspan="30"><b></b></td>
            </tr>
            <tr style="text-align:center">
                <td colspan="20">&nbsp;</td>
                <td colspan="30"></td>
                <td colspan="20">&nbsp;</td>
                <td colspan="30"></td>
            </tr>
        </table>
        <div style='page-break-before:always'></div>
    </body>
</html>