@model kmbi_core_master.reports.Models.repDstModel
<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7" width="100%">
            <tbody>
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <i>BIR FORM 2000</i><br>
                        <b>DOCUMENTARY STAMP TAX</b><br>
                        <b>FOR THE MONTH OF @ViewBag.monthyear</b><br><br>
                        WITHOLDING AGENT'S NAME: <b><u>KABALIKAT PARA SA MAUNLAD NA BUHAY INC. (KMBI)</u></b><br>
                        TIN: <b><u>@Model.tin</u></b><br><br>
                        SUMMARY OF DOCUMENTARY STAMP TAX COLLECTED<br><br>
                        @Model.branchName Branch
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table border=".2" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr style="font-weight: bold">
                    <td align="center">SEQ. NO.</td>
                    <td align="center">CENTER NAME</td>
                    <td align="center">DATE OF RELEASE</td>
                    <td align="center">DATE OF MATURITY</td>
                    <td align="center">ATC</td>
                    <td align="center">AMOUNT RELEASE</td>
                    <td align="center">DST COLLECTED</td>
                </tr>
                @{
                    //double dst = 0;
                    double totalAmountReleased = 0;
                    double totalDst = 0;
                }
               
                @foreach (var item in Model.lines)
                {
                    totalAmountReleased += @item.amountRelease;
                    totalDst += @item.dstCollected;
                    
                    <tr>
                        <td align="center">@item.seqNo</td>
                        <td>@item.centerName</td>
                        <td align="center">@String.Format("{0:MM/dd/yyyy}", @item.dateOfRelease)</td>
                        <td align="center">@String.Format("{0:MM/dd/yyyy}", @item.dateOfMaturity)</td>
                        <td>@item.atc</td>
                        <td align="right">@String.Format("{0:N2}", @item.amountRelease)</td>
                        <td align="right">@String.Format("{0:N2}", @item.dstCollected)</td>
                    </tr>
                }
            </tbody>
        </table>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tr style="font-weight: bold">
                <td align="right" colspan="5">TOTAL</td>
                <td align="right">@String.Format("{0:N2}", @totalAmountReleased)</td>
                <td align="right">@String.Format("{0:N2}", @totalDst)</td>
            </tr>
        </table>
        <br><br><br>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tr>
                <td colspan="15">&nbsp;</td>
                <td colspan="10" align="center">Prepared by:</td>
                <td colspan="23" align="center">________________________</td>
                <td colspan="4">&nbsp;</td>
                <td colspan="10" align="center">Certified by:</td>
                <td colspan="23" align="center">________________________</td>
                <td colspan="15">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="15">&nbsp;</td>
                <td colspan="10">&nbsp;</td>
                <td colspan="23" align="center">Branch Accountant</td>
                <td colspan="4">&nbsp;</td>
                <td colspan="10">&nbsp;</td>
                <td colspan="23" align="center">Branch Manager</td>
                <td colspan="15">&nbsp;</td>
            </tr>
        </table>
    </body>

    
</html>