@model IEnumerable<kmbi_core_master.reports.Models.repDtr>
<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="3" cellpadding="3" style="font-size:9" width="100%">
        <tbody>
            <tr>
                <td><h3>Daily Time Record</h3></td>
            </tr>
            <tr>
                <td>@String.Format("{0:MMM dd, yyyy}", @ViewBag.dateFrom) - @String.Format("{0:MMM dd, yyyy}", @ViewBag.dateTo)</td>
            </tr>
            <tr>
                <td>Region: @Model.FirstOrDefault().region</td>
            </tr>
        </tbody>
    </table>
    <table border="0">
        <tr>
            <td colspan="10"></td>
        </tr>
    </table>
    <table border="1" cellspacing="3" cellpadding="3" style="font-size:8;border-color:gray;border-collapse: collapse;" width="100%">
        <thead>
            <tr>
                <td>Date</td>
                <td colspan="4">Name</td>
                <td align="center">Time In (AM)</td>
                <td align="center">Time Out (AM)</td>
                <td align="center">Time In (PM)</td>
                <td align="center">Time Out (PM)</td>
            </tr>
        </thead>
    </table>
   
    @foreach (var r in @Model)
    {
        string inAm;
        string outAm;
        string inPm;
        string outPm;

        DateTime aInAm = DateTime.Now;
        DateTime aOutAm = DateTime.Now;
        DateTime aInPm = DateTime.Now;
        DateTime aOutPm = DateTime.Now;

        DateTime mInAm = DateTime.Now;
        DateTime mOutAm = DateTime.Now;
        DateTime mInPm = DateTime.Now;
        DateTime mOutPm = DateTime.Now;

        if (@r.actual.inAm.HasValue)
        { aInAm = @r.actual.inAm.Value; }
        if (@r.actual.outAm.HasValue)
        { aOutAm = @r.actual.outAm.Value; }
        if (@r.actual.inPm.HasValue)
        { aInPm = @r.actual.inPm.Value; }
        if (@r.actual.outPm.HasValue)
        { aOutPm = @r.actual.outPm.Value; }

        if (@r.manual.inAm.HasValue)
        { mInAm = @r.manual.inAm.Value; }
        if (@r.manual.outAm.HasValue)
        { mOutAm = @r.manual.outAm.Value; }
        if (@r.manual.inPm.HasValue)
        { mInPm = @r.manual.inPm.Value; }
        if (@r.manual.outPm.HasValue)
        { mOutPm = @r.manual.outPm.Value; }

        //ACTUAL
        if (@r.actual.inAm == null && @r.manual.inAm != null && @r.manual.inAm.HasValue)
        { inAm = String.Format("{0:hh:mm tt}", mInAm); }
        else
        { inAm = String.Format("{0:hh:mm tt}", aInAm); }

        if (@r.actual.outAm == null && @r.manual.outAm != null && @r.manual.outAm.HasValue)
        { outAm = String.Format("{0:hh:mm tt}", mOutAm); }
        else
        { outAm = String.Format("{0:hh:mm tt}", aOutAm); }

        if (@r.actual.inPm == null && @r.manual.inPm != null && @r.manual.inPm.HasValue)
        { inPm = String.Format("{0:hh:mm tt}", mInPm); }
        else
        { inPm = String.Format("{0:hh:mm tt}", aInAm); }

        if (@r.actual.outPm == null && @r.manual.outPm != null && @r.manual.outPm.HasValue)
        { outPm = String.Format("{0:hh:mm tt}", mOutPm); }
        else
        { outPm = String.Format("{0:hh:mm tt}", aOutPm); }


        //MANUAL
        if (@r.manual.inAm == null && @r.actual.inAm != null && @r.actual.inAm.HasValue)
        { inAm = String.Format("{0:hh:mm tt}", aInAm); }
        else
        { inAm = String.Format("{0:hh:mm tt}", mInAm); }

        if (@r.manual.outAm == null && @r.actual.outAm != null && @r.actual.outAm.HasValue)
        { outAm = String.Format("{0:hh:mm tt}", aOutAm); }
        else
        { outAm = String.Format("{0:hh:mm tt}", mOutAm); }

        if (@r.manual.inPm == null && @r.actual.inPm != null && @r.actual.inPm.HasValue)
        { inPm = String.Format("{0:hh:mm tt}", aInPm); }
        else
        { inPm = String.Format("{0:hh:mm tt}", mInPm); }

        if (@r.manual.outPm == null && @r.actual.outPm != null && @r.actual.outPm.HasValue)
        { outPm = String.Format("{0:hh:mm tt}", aOutPm); }
        else
        { outPm = String.Format("{0:hh:mm tt}", mOutPm); }

        //LUNCHTIME
        if (@r.manual.outAm == null && @r.actual.outAm == null)
        { outAm = String.Format("{0:hh:mm tt}", "12:00 PM"); }
        

        if (@r.manual.inPm == null && @r.actual.inPm == null)
        { inPm = String.Format("{0:hh:mm tt}", "01:00 PM"); }
       

        <table border="1" cellspacing="3" cellpadding="3" style="font-size:8;border-color:gray;border-collapse: collapse;" width="100%">
            <tbody>
                <tr>
                    <td>@String.Format("{0:MM/dd/yyyy}", @r.date)</td>
                    <td colspan="4">@r.name</td>
                    <td align="center">@inAm</td>
                    <td align="center">@outAm</td>
                    <td align="center">@inPm</td>
                    <td align="center">@outPm</td>

                </tr>
                
            </tbody>
        </table>
        <table border="0">
            <tr>
                <td colspan="10"></td>
            </tr>
        </table>
    }

</body>

</html>