@foreach(var emp in @Model) {
    <html>
        <head>
            <title></title>
        </head>
    <body>
        <table border="1" cellspacing="0" cellpadding="5" style="font-size:10" width="100%">
            <tbody>
                <tr>
                    <td colspan="8">@emp.employeeCode - @emp.fullname</td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td colspan="3">@emp.employment.department</td>
                    <td colspan="4">Shift Schedule</td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td colspan="3">@emp.employment.position</td>
                    <td>Morning:</td>
                    <td colspan="3">@emp.employeeSchedules[0].timeInAm - @emp.employeeSchedules[0].timeOutAm</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td colspan="3">
                        @if(@emp.branch!=null) {
                            @if(@emp.branch.Count>0) {
                                @emp.branch[0].name;
                            }
                        }
                    </td>
                    <td>Afternoon:</td>
                    <td colspan="3">@emp.employeeSchedules[0].timeInPm - @emp.employeeSchedules[0].timeOutPm</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td colspan="7">@emp.employment.status - ACTIVE</td>
                </tr>
                
            </tbody>
        </table>
        <table border="0">
            <tr>
                <td colspan="10"></td>
            </tr>
        </table> 
        <table border="1" cellspacing="0" cellpadding="5" style="font-size:10" width="100%">
            <tbody>
                <tr>
                    <td colspan="8" align="center"><b>TIME AND ATTENDANCE @String.Format("{0:MMM dd, yyyy}", @ViewBag.dateFrom) - @String.Format("{0:MMM dd, yyyy}", @ViewBag.dateTo)</b></td>
                </tr>
            </tbody>
        </table>
        <table border="1" cellspacing="0" cellpadding="5" style="font-size:6" width="100%">
            <thead>
                <tr align="center" style="font-weight: bold">
                    <td></td>
                    <td colspan="2">MORNING</td>
                    <td colspan="2">AFTERNOON</td>
                    <td colspan="2">LATE</td>
                    <td colspan="4">OVERTIME</td>
                    <td colspan="3"></td>
                </tr>
                <tr align="center" style="font-weight: bold">
                    <td>Date</td>
                    <td>IN</td>
                    <td>OUT</td>
                    <td>IN</td>
                    <td>OUT</td>
                    <td>AM</td>
                    <td>PM</td>
                    <td>OT</td>
                    <td>ND</td>
                    <td>TYPE</td>
                    <td>STATUS</td>
                    <td colspan="3">REMARKS</td>
                </tr>
            </thead>
            <tbody>
                @{
                    double totalLateAm = 0.0;
                    double totalLatePm = 0.0;
                    //double totalConversion = 0.0;
                    double noOfTardinessAm = 0.0;
                    double noOfTardinessPm = 0.0;
                    //int ctr = 1;
                }

                @foreach(var dtri in @emp.dtr) {
                    <tr>
                        <td align="center">@String.Format("{0:MM/dd/yyyy}", @dtri.date)</td>
                        <td align="center">
                            @if(@dtri.manual.inAm == null) {
                                @if(@dtri.actual.inAm != null) {
                                    @String.Format("{0:hh:mm tt}", @dtri.actual.inAm);
                                }
                            } else {
                                @String.Format("{0:hh:mm tt}", @dtri.manual.inAm);
                            }
                        </td>
                        <td align="center">
                            @if(@dtri.manual.outAm == null) {
                                @if(@dtri.actual.outAm != null) {
                                    @String.Format("{0:hh:mm tt}", @dtri.actual.outAm);
                                }
                            } else {
                                @String.Format("{0:hh:mm tt}", @dtri.manual.outAm);
                            }
                        </td>
                        <td align="center">
                            @if(@dtri.manual.inPm == null) {
                                @if(@dtri.actual.inPm != null) {
                                    @String.Format("{0:hh:mm tt}", @dtri.actual.inPm);
                                }
                            } else {
                                @String.Format("{0:hh:mm tt}", @dtri.manual.inPm);
                            }
                        </td>
                        <td align="center">
                            @if(@dtri.manual.outPm == null) {
                                @if(@dtri.actual.outPm != null) {
                                    @String.Format("{0:hh:mm tt}", @dtri.actual.outPm);
                                }
                            } else {
                                @String.Format("{0:hh:mm tt}", @dtri.manual.outPm);
                            }
                        </td>
                        <td align="center">@dtri.late.am</td>
                        <td align="center">@dtri.late.pm</td>
                        <td align="center">@(@dtri.overtime.am + @dtri.overtime.pm)</td>
                        <td align="center">@dtri.nd</td>
                        <td></td>
                        <td></td>
                        <td colspan="3">@dtri.remarks</td>
                    </tr>
                    totalLateAm += @dtri.late.am;
                    totalLatePm += @dtri.late.pm;
                    if(@dtri.late.am > 0) {
                        noOfTardinessAm++;
                    }

                    if(@dtri.late.pm > 0) {
                        noOfTardinessPm++;
                    }
                }
            </tbody>
        </table>
        <table border="0">
            <tr>
                <td colspan="10"></td>
            </tr>
        </table> 
        <table border="1" cellspacing="0" cellpadding="5" style="font-size:10" width="100%">
            <tbody>
                <tr style="font-weight: bold">
                    <td colspan="8">TOTAL LATES</td>
                    <td colspan="4">TOTAL OVERTIME</td>
                    <td colspan="2">Overtime</td>
                    <td colspan="2">Night Diff.</td>
                </tr>
                <tr>
                    <td colspan="4">Morning</td>
                    <td colspan="4">@totalLateAm</td>
                    <td colspan="4">Regular OT.</td>
                    <td colspan="2">0.00</td>
                    <td colspan="2">0.00</td>
                </tr>
                <tr>
                    <td colspan="4">Afternoon</td>
                    <td colspan="4">@totalLatePm</td>
                    <td colspan="4">Restday</td>
                    <td colspan="2">0.00</td>
                    <td colspan="2">0.00</td>
                </tr>
                <tr>
                    <td colspan="4">Conversion</td>
                    <td colspan="4">00:00</td>
                    <td colspan="4">Special Holiday</td>
                    <td colspan="2">0.00</td>
                    <td colspan="2">0.00</td>
                </tr>
                <tr>
                    <td colspan="4">No. of Tardiness</td>
                    <td>AM</td>
                    <td>@noOfTardinessAm</td>
                    <td>PM</td>
                    <td>@noOfTardinessPm</td>
                    <td colspan="4">Restday</td>
                    <td colspan="2">0.00</td>
                    <td colspan="2">0.00</td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>
    <div style='page-break-before:always'></div>
}