@model List<kmbi_core_master.reports.Models.repEcrModel>

@foreach(var item in @Model) {

    <html>
        <head>
            <title></title>
        </head>
        <body>
            <table border="0" cellspacing="0" cellpadding="1" width="100%" style="font-size:8">
                <tbody>
                    <tr>
                        <td colspan="10"><b>KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.</b></td>
                    </tr>
                    <tr>
                        <td colspan="2">Center Description: @item.centerDescription</td>
                        <td colspan="2">Cycle No: @item.cycleNo</td>
                        <td colspan="2">Loan Date: @String.Format("{0:MM/dd/yyyy}",@item.loanDate)</td>
                        <td colspan="2">Loan Amount: @String.Format("{0:N2}",@item.loanAmount)</td>
                        <td colspan="2">Reference No: @item.transactionNo</td>
                    </tr>
                    <tr>
                        <td colspan="4">Center Address: @item.centerAddress</td>
                        <td colspan="2">Maturity Date: @String.Format("{0:MM/dd/yyyy}",@item.maturityDate)</td>
                        <td colspan="2">Interest Rate: @item.interestRate</td>
                        <td colspan="2">WEEK: @item.weekNo</td>
                    </tr>
                    <tr>
                        <td colspan="6">Assigned PO: @item.assignedPA</td>
                        <td colspan="2">Interest Type: @item.interestType</td>
                        <td colspan="2">Payment Schedule: @String.Format("{0:MM/dd/yyyy}", @item.paymentSchedule)</td>
                        <td></td>
                    </tr>
                </tbody>    
            </table>
            
            <table border=".2" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
                <thead>
                    <tr style="text-align: center; font-weight: bold;">
                        <td colspan="4"></td>
                        <td colspan="3">BALANCES</td>
                        <td colspan="3">CURRENT AMOUNT DUE</td>
                        <td colspan="3">PAST DUE AMOUNT</td>
                        <td colspan="3">TOTAL AMOUNT DUE</td>
                        <td colspan="3">ACTUAL COLLECTION</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr style="text-align: center;font-size:7.5;font-weight:bold">
                        <td colspan="3">NAME OF CLIENTS</td>
                        <td colspan="1">LOAN CYCLE</td>
                        <td>PRINCIPAL</td>
                        <td>INTEREST</td>
                        <td>CBU</td>
                        <td>PRINCIPAL</td>
                        <td>INTEREST</td>
                        <td>CBU</td>
                        <td>PRINCIPAL</td>
                        <td>INTEREST</td>
                        <td>CBU</td>
                        <td>LOAN (P+I)</td>
                        <td>CBU</td>
                        <td>TOTAL</td>
                        <td>LOAN (P+I)</td>
                        <td>CBU</td>
                        <td>TOTAL</td>
                        <td colspan="2">LAGDA</td>
                    </tr>
                </thead>
            </table>
            
                    @{
                        double totBalancePrincipal = 0;
                        double totBalanceInterest = 0;
                        double totBalanceCBU = 0;
                        double totCurrentAmountDuePrincipal = 0;
                        double totCurrentAmountDueInterest = 0;
                        double totCurrentAmountDueCBU = 0;
                        double totPastDuePrincipal = 0;
                        double totPastDueInterest = 0;
                        double totPastDueCBU = 0;
                        double totAmountDueLoan = 0;
                        double totAmountDueCBU = 0;
                        double totActualCollectionDueLoan = 0;
                        double totActualCollectionDueCBU = 0;
                        int ctr = 0;
                    }
                    @foreach(kmbi_core_master.reports.Models.repEcrLine l in @item.ecrLines)
                    {
                        totBalancePrincipal += @l.balancePrincipal;
                        totBalanceInterest += @l.balanceInterest;
                        totBalanceCBU += @l.balanceCBU;
                        totCurrentAmountDuePrincipal += @l.currentAmountDuePrincipal;
                        totCurrentAmountDueInterest += @l.currentAmountDueInterest;
                        totCurrentAmountDueCBU += @l.currentAmountDueCBU;
                        totPastDuePrincipal += @l.pastDuePrincipal;
                        totPastDueInterest += @l.pastDueInterest;
                        totPastDueCBU += @l.pastDueCBU;
                        totAmountDueLoan += @l.amountDueLoan;
                        totAmountDueCBU += @l.amountDueCBU;
                        totActualCollectionDueLoan += @l.amountDueLoan + @l.amountDueCBU;
                        totActualCollectionDueCBU += @l.actualCollectionDueCBU;
                        ctr++;

                        if(ctr==31) {
                            <div style='page-break-before:always'></div>
                        }
                        <table border=".2" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">    
                            <tbody>
                                    <tr style="text-align: right; font-size:7.5">
                                        <td colspan="3" style="text-align: left">&nbsp;@ctr. @l.nameOfClient</td>
                                        <td colspan="1" style="text-align: center">&nbsp;@l.loanCyle</td>
                                        <td>@((@l.balancePrincipal == 0) ? "-" : String.Format("{0:N2}", @l.balancePrincipal))&nbsp;</td>
                                        <td>@((@l.balanceInterest == 0) ? "-" : String.Format("{0:N2}", @l.balanceInterest))&nbsp;</td>
                                        <td>@((@l.balanceCBU == 0) ? "-" : String.Format("{0:N2}", @l.balanceCBU))&nbsp;</td>
                                        <td>@((@l.currentAmountDuePrincipal == 0) ? "-" : String.Format("{0:N2}", @l.currentAmountDuePrincipal))&nbsp;</td>
                                        <td>@((@l.currentAmountDueInterest == 0) ? "-" : String.Format("{0:N2}", @l.currentAmountDueInterest))&nbsp;</td>
                                        <td>@((@l.currentAmountDueCBU == 0) ? "-" : String.Format("{0:N2}", @l.currentAmountDueCBU))&nbsp;</td>
                                        <td>@((@l.pastDuePrincipal == 0) ? "-" : String.Format("{0:N2}", @l.pastDuePrincipal))&nbsp;</td> 
                                        <td>@((@l.pastDueInterest == 0) ? "-" : String.Format("{0:N2}", @l.pastDueInterest))&nbsp;</td>
                                        <td>@((@l.pastDueCBU == 0) ? "-" : String.Format("{0:N2}", @l.pastDueCBU))&nbsp;</td>
                                        <td>@((@l.amountDueLoan == 0) ? "-" : String.Format("{0:N2}", @l.amountDueLoan))&nbsp;</td>
                                        <td>@((@l.amountDueCBU == 0) ? "-" : String.Format("{0:N2}", @l.amountDueCBU))&nbsp;</td>
                                        <td>@((@l.amountDueLoan + @l.amountDueCBU == 0) ? "-" : String.Format("{0:N2}", @l.amountDueLoan + @l.amountDueCBU))&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td colspan="2" style="text-align: left">&nbsp;@l.lagda @ctr.</td>
                                    </tr>
                            </tbody>
                        </table>
                    }
            <table border="1" cellspacing="0" cellpadding="2" width="100%" style="font-size:7.5">
                <tr style="font-weight: bold;text-align: right">
                    <td  colspan="4" style="padding: 50px">TOTAL:</td>
                    <td>@((@totBalancePrincipal == 0) ? "-" : String.Format("{0:N2}", @totBalancePrincipal))</td>
                    <td>@((@totBalanceInterest == 0) ? "-" : String.Format("{0:N2}", @totBalanceInterest))</td>
                    <td>@((@totBalanceCBU == 0) ? "-" : String.Format("{0:N2}", @totBalanceCBU))</td>
                    <td>@((@totCurrentAmountDuePrincipal == 0) ? "-" : String.Format("{0:N2}", @totCurrentAmountDuePrincipal))</td>
                    <td>@((@totCurrentAmountDueInterest == 0) ? "-" : String.Format("{0:N2}", @totCurrentAmountDueInterest))</td>
                    <td>@((@totCurrentAmountDueCBU == 0) ? "-" : String.Format("{0:N2}", @totCurrentAmountDueCBU))</td>
                    <td>@((@totPastDuePrincipal == 0) ? "-" : String.Format("{0:N2}", @totPastDuePrincipal))</td>
                    <td>@((@totPastDueInterest == 0) ? "-" : String.Format("{0:N2}", @totPastDueInterest))</td>
                    <td>@((@totPastDueCBU == 0) ? "-" : String.Format("{0:N2}", @totPastDueCBU))</td>
                    <td>@((@totAmountDueLoan == 0) ? "-" : String.Format("{0:N2}", @totAmountDueLoan))</td>
                    <td>@((@totAmountDueCBU == 0) ? "-" : String.Format("{0:N2}", @totAmountDueCBU))</td>
                    <td>@((@totAmountDueLoan + @totAmountDueCBU == 0) ? "-" : String.Format("{0:N2}", @totAmountDueLoan + @totAmountDueCBU))</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="2"></td>
                </tr>
            </table>
            
            <table border="0" cellspacing="1" cellpadding="0" width="100%" style="font-size:8;">
                <tbody>
                    
                    <tr>
                        <td>Prepared By:</td>
                        <td>Checked By:</td>
                        <td>Copy Received By:</td>
                    </tr>
                    <tr>
                        <td><font color="white">blank</font></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>@item.preparedBy</td>
                        <td>@item.checkedBy</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Branch Accounting Associate / Assistant</td>
                        <td>Branch Accountant</td>
                        <td>Signature Over Printed Name</td>
                    </tr>
                </tbody>
            </table>
        </body>
    </html>

    <div style='page-break-before:always'></div>
}