@model kmbi_core_master.reports.Models.repEcrBatching

<html>
    <head>
        <title></title>
    </head>
    <body>

        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="font-size:7">
            <tr>
                <td colspan="10"><b>KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.</b></td>
            </tr>
            <tr>
                <td colspan="2">Center Description: @Model.centerDescription</td>
                <td colspan="4">Center Address: @Model.centerAddress</td>
                <td colspan="6">Payment Schedule: @Model.paymentSchedule</td>
            </tr>
            <tr>
                <td colspan="2">Assigned PO: @Model.assignedPO</td>
                <td colspan="4">Interest Rate: @Model.interestRate.ToString()</td>
                <td colspan="6">Interest Type: @Model.interestType</td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="font-size:7">
            <tr>
                <td colspan="10">Batch Information</td>
            </tr>
            @{
                Int32 batchNo = 1;
                @foreach(var bi in @Model.batchInfo) {
                    <tr>
                        <td>BATCH @batchNo</td>
                        <td>Loan Date: @Convert.ToDateTime(@bi.loanDate).ToShortDateString()</td>
                        <td colspan="2">Maturity Date: @Convert.ToDateTime(@bi.maturityDate).ToShortDateString()</td>
                        <td colspan="2">Loan Amount: @((@bi.loanAmount == 0) ? "-" : String.Format("{0:N2}", @bi.loanAmount))</td>
                        <td colspan="2">Reference No.: @bi.referenceNo</td>
                        <td colspan="1">Loan Cycle: @bi.cycleNo</td>
                        <td colspan="1">Week No.: @bi.weekNo</td>
                    </tr>
                    batchNo = batchNo + 1;
                }
            }
        </table>
        
        <table border=".2" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
            <thead>
                <tr style="text-align: center; font-weight: bold;">
                    <td colspan="4"></td>
                    <td colspan="3">BALANCES</td>
                    <td colspan="3">CURRENT AMOUNT DUE</td>
                    <td colspan="3">PAST DUE AMOUNT</td>
                    <td colspan="3">TOTAL AMOUNT DUE</td>
                    <td colspan="3">ACTUAL COLLECTION</td>
                    <td colspan="2"></td>
                </tr>
                <tr style="text-align: center;font-size:7.5;font-weight:bold">
                    <td colspan="3">NAME OF CLIENTS</td>
                    <td colspan="1">LOAN CYCLE</td>
                    <td>PRINCIPAL</td>
                    <td>INTEREST</td>
                    <td>CBU</td>
                    <td>PRINCIPAL</td>
                    <td>INTEREST</td>
                    <td>CBU</td>
                    <td>PRINCIPAL</td>
                    <td>INTEREST</td>
                    <td>CBU</td>
                    <td>LOAN (P+I)</td>
                    <td>CBU</td>
                    <td>TOTAL</td>
                    <td>LOAN (P+I)</td>
                    <td>CBU</td>
                    <td>TOTAL</td>
                    <td colspan="2">LAGDA</td>
                </tr>
            </thead>
        </table>

        @{
            var ctr = 0;
        }

        @foreach(kmbi_core_master.reports.Models.repEcrBatchingItem b in @Model.items) { 
            @foreach(kmbi_core_master.reports.Models.repEcrBatchingItemLines i in b.lines) { 
                ctr++;
                <table border=".2" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">    
                    <tr style="text-align: right; font-size:7.5">
                        <td  colspan="3" style="text-align: left">&nbsp;@ctr. @i.name</td>
                        <td  colspan="1" style="text-align: center">&nbsp;@i.loanCycle</td>
                        <td>@((@i.balances.principal == 0) ? "-" : String.Format("{0:N2}", @i.balances.principal))&nbsp;</td>
                        <td>@((@i.balances.interest == 0) ? "-" : String.Format("{0:N2}", @i.balances.interest))&nbsp;</td>
                        <td>@((@i.balances.cbu == 0) ? "-" : String.Format("{0:N2}", @i.balances.cbu))&nbsp;</td>
                        <td>@((@i.currentDueAmount.principal == 0) ? "-" : String.Format("{0:N2}", @i.currentDueAmount.principal))&nbsp;</td>
                        <td>@((@i.currentDueAmount.interest == 0) ? "-" : String.Format("{0:N2}", @i.currentDueAmount.interest))&nbsp;</td>
                        <td>@((@i.currentDueAmount.cbu == 0) ? "-" : String.Format("{0:N2}", @i.currentDueAmount.cbu))&nbsp;</td>
                        <td>@((@i.pastDueAmount.principal == 0) ? "-" : String.Format("{0:N2}", @i.pastDueAmount.principal))&nbsp;</td>
                        <td>@((@i.pastDueAmount.interest == 0) ? "-" : String.Format("{0:N2}", @i.pastDueAmount.interest))&nbsp;</td>
                        <td>@((@i.pastDueAmount.cbu == 0) ? "-" : String.Format("{0:N2}", @i.pastDueAmount.cbu))&nbsp;</td>
                        <td>@((@i.totalAmountDue.principal + @i.totalAmountDue.interest == 0) ? "-" : String.Format("{0:N2}", @i.totalAmountDue.principal + @i.totalAmountDue.interest))&nbsp;</td>
                        <td>@((@i.totalAmountDue.cbu == 0) ? "-" : String.Format("{0:N2}", @i.totalAmountDue.cbu))&nbsp;</td>
                        <td>@((@i.totalAmountDue.principal + @i.totalAmountDue.interest + @i.totalAmountDue.cbu == 0) ? "-" : String.Format("{0:N2}", @i.totalAmountDue.principal + @i.totalAmountDue.interest + @i.totalAmountDue.cbu))&nbsp;</td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="2" style="text-align: left">&nbsp;@i.lagda @ctr.</td>
                    </tr>
                </table>                    
            }
        }
        
        <!-- @foreach(kmbi_core_master.reports.Models.repEcrBatchingItemLines i in @Model.asWholeItems) {
            ctr++;
            <table border=".2" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">    
                <tr style="text-align: right; font-size:7.5">
                    <td  colspan="3" style="text-align: left">&nbsp;@ctr. @i.name</td>
                    <td  colspan="1" style="text-align: center">&nbsp;@i.loanCycle</td>
                    <td>@((@i.balances.principal == 0) ? "-" : String.Format("{0:N2}", @i.balances.principal))&nbsp;</td>
                    <td>@((@i.balances.interest == 0) ? "-" : String.Format("{0:N2}", @i.balances.interest))&nbsp;</td>
                    <td>@((@i.balances.cbu == 0) ? "-" : String.Format("{0:N2}", @i.balances.cbu))&nbsp;</td>
                    <td>@((@i.currentDueAmount.principal == 0) ? "-" : String.Format("{0:N2}", @i.currentDueAmount.principal))&nbsp;</td>
                    <td>@((@i.currentDueAmount.interest == 0) ? "-" : String.Format("{0:N2}", @i.currentDueAmount.interest))&nbsp;</td>
                    <td>@((@i.currentDueAmount.cbu == 0) ? "-" : String.Format("{0:N2}", @i.currentDueAmount.cbu))&nbsp;</td>
                    <td>@((@i.pastDueAmount.principal == 0) ? "-" : String.Format("{0:N2}", @i.pastDueAmount.principal))&nbsp;</td>
                    <td>@((@i.pastDueAmount.interest == 0) ? "-" : String.Format("{0:N2}", @i.pastDueAmount.interest))&nbsp;</td>
                    <td>@((@i.pastDueAmount.cbu == 0) ? "-" : String.Format("{0:N2}", @i.pastDueAmount.cbu))&nbsp;</td>
                    <td>@((@i.totalAmountDue.principal + @i.totalAmountDue.interest == 0) ? "-" : String.Format("{0:N2}", @i.totalAmountDue.principal + @i.totalAmountDue.interest))&nbsp;</td>
                    <td>@((@i.totalAmountDue.cbu == 0) ? "-" : String.Format("{0:N2}", @i.totalAmountDue.cbu))&nbsp;</td>
                    <td>@((@i.totalAmountDue.principal + @i.totalAmountDue.interest + @i.totalAmountDue.cbu == 0) ? "-" : String.Format("{0:N2}", @i.totalAmountDue.principal + @i.totalAmountDue.interest + @i.totalAmountDue.cbu))&nbsp;</td>
                    <td></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="2" style="text-align: left">&nbsp;@i.lagda @ctr.</td>
                </tr>
            </table>
        }
         -->


        <table border="1" cellspacing="0" cellpadding="2" width="100%" style="font-size:7.5">
            <tr style="font-weight: bold;text-align: right">
                <td  colspan="4" style="text-align: left">TOTAL</td>
                    <td>@((@Model.total.balances.principal == 0) ? "-" : String.Format("{0:N2}", @Model.total.balances.principal))</td>
                    <td>@((@Model.total.balances.interest == 0) ? "-" : String.Format("{0:N2}", @Model.total.balances.interest))</td>
                    <td>@((@Model.total.balances.cbu == 0) ? "-" : String.Format("{0:N2}", @Model.total.balances.cbu))</td>
                    <td>@((@Model.total.currentDueAmount.principal == 0) ? "-" : String.Format("{0:N2}", @Model.total.currentDueAmount.principal))</td>
                    <td>@((@Model.total.currentDueAmount.interest == 0) ? "-" : String.Format("{0:N2}", @Model.total.currentDueAmount.interest))</td>
                    <td>@((@Model.total.currentDueAmount.cbu == 0) ? "-" : String.Format("{0:N2}", @Model.total.currentDueAmount.cbu))</td>
                    <td>@((@Model.total.pastDueAmount.principal == 0) ? "-" : String.Format("{0:N2}", @Model.total.pastDueAmount.principal))</td>
                    <td>@((@Model.total.pastDueAmount.interest == 0) ? "-" : String.Format("{0:N2}", @Model.total.pastDueAmount.interest))</td>
                    <td>@((@Model.total.pastDueAmount.cbu == 0) ? "-" : String.Format("{0:N2}", @Model.total.pastDueAmount.cbu))</td>
                    <td>@((@Model.total.totalAmountDue.principal + @Model.total.totalAmountDue.interest == 0) ? "-" : String.Format("{0:N2}", @Model.total.totalAmountDue.principal + @Model.total.totalAmountDue.interest))</td>
                    <td>@((@Model.total.totalAmountDue.cbu == 0) ? "-" : String.Format("{0:N2}", @Model.total.totalAmountDue.cbu))</td>
                    <td>@((@Model.total.totalAmountDue.principal + @Model.total.totalAmountDue.interest + @Model.total.totalAmountDue.cbu == 0) ? "-" : String.Format("{0:N2}", @Model.total.totalAmountDue.principal + @Model.total.totalAmountDue.interest + @Model.total.totalAmountDue.cbu))</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="2" style="text-align: left">&nbsp;</td>
            </tr>
        </table>
        
        <table border="0" cellspacing="1" cellpadding="0" width="100%" style="font-size:8;">   
            <tr>
                <td>Prepared By:</td>
                <td>Checked By:</td>
                <td>Copy Received By:</td>
            </tr>
            <tr>
                <td><font color="white">blank</font></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>@Model.preparedBy</td>
                <td>@Model.checkedBy</td>
                <td></td>
            </tr>
            <tr>
                <td>Branch Accounting Associate / Assistant</td>
                <td>Branch Accountant</td>
                <td>Signature Over Printed Name</td>
            </tr>
        </table>

    </body>
</html>