<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="1" cellspacing="0" cellpadding="2" style="font-size:9" width="100%">
            <tbody>
                @{
                    var list =@Model;
                    if(@Model[0].code != @ViewBag.account) {
                        list = @Model[0].subsidiaries;
                    }
                }

                
                @foreach(var l in list) {
                    if(l.code==@ViewBag.account) {
                        <tr>
                            <td colspan="8" border="0"><h3>General Ledger Detailed - @ViewBag.year</h3><br></td>
                        </tr>
                        var totDeb = 0.0;
                        var totCred = 0.0;
                        <tr align="center">
                            <td colspan="1">Date</td>
                            <td colspan="1">Customer / Supplier</td>
                            <td colspan="1">Book</td>
                            <td colspan="2">Particulars</td>
                            <td colspan="1">Ref. No</td>
                            <td colspan="1">Debit</td>
                            <td colspan="1">Credit</td>
                        </tr>
                        @foreach(var d in @l.details) {
                            if(@d.month != "December " + (@ViewBag.year -1).ToString()) {
                                
                                    
                                    @foreach(var sd in @d.details) {
                                        @foreach(var sdd in @sd.details) {
                                            @foreach(var trans in @sdd.details) {
                                                totDeb = totDeb + @trans.debitAmount;
                                                totCred = totCred + @trans.creditAmount;
                                                <tr>
                                                    <td colspan="1" valign="top" align="center">&nbsp;@String.Format("{0:MM/dd/yyyy}", @trans.date)</td>
                                                    <td colspan="1" valign="top">@trans.custsup</td>
                                                    <td colspan="1" valign="top" align="center">@trans.book</td>
                                                    <td colspan="2" valign="top">@trans.particulars</td>
                                                    <td colspan="1" valign="top" align="center">@trans.refNo</td>
                                                    <td colspan="1" valign="top" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @trans.debitAmount)</td>
                                                    <td colspan="1" valign="top" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @trans.creditAmount)</td>
                                                </tr>
                                            }
                                        }
                                    }
                                
                            }
                        }
                        <tr>
                            <td colspan="6" valign="top">&nbsp;TOTAL</td>
                            <td colspan="1" valign="top" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @totDeb)</td>
                            <td colspan="1" valign="top" align="right">@String.Format("{0:#,###.00;(#,###.00);-}", @totCred)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </body>    
</html>