<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="3" cellpadding="3" style="font-size:9" width="100%">
            <tbody>
                <tr>
                    <td><h3>General Ledger Book</h3></td>
                </tr>
            </tbody>
        </table>
        <table border="0">7
            <tr>
                <td colspan="10"></td>
            </tr>
        </table>
        @{
            var change = "";
        }
        
        @foreach(var item in @Model) {
                @if(change!=@item.accountName && change!="") {
                        <div style='page-break-before:always'></div>
                    }
                    <table border="1" cellpadding="0" cellspacing="0">
                        @if(change!=@item.accountName) {
                            <tr>
                                <td colspan="4" border="0">@item.accountNo - @item.accountName</td>
                            </tr>
                            <tr>
                                <td colspan="4" border="0"><font color="white">Hey!</font></td>
                            </tr>
                            <tr>
                                <td>&nbsp;Month</td>
                                <td align="right">Debit&nbsp;</td>
                                <td align="right">Credit&nbsp;</td>
                                <td align="right">Balance&nbsp;</td>
                            </tr>
                        }
                        <tr>
                            <td>&nbsp;@item.month</td>
                            <td align="right">@String.Format("{0:N2}", @item.debit)&nbsp;</td>
                            <td align="right">@String.Format("{0:N2}", @item.credit)&nbsp;</td>
                            <td align="right">

                                @String.Format("{0:#,###.##;(#,###.##);0.00}", @item.balanceForwarded)&nbsp;
                            </td>
                        </tr>
                    </table>

                    

                    change = @item.accountName;
        }
    </body>
</html>

