<html>
    <head>
        <title></title>
    </head>
<body>
    @{
        var detailNo=1;
        var ctrHeader=0;
        var lineCtr=0;
        var checker="";
        var totalDebit = 0;
        var totalCredit = 0;
    }
    @while(ctrHeader<@detailNo) {

    
    <!-- REPEATING HEADER START -->
    <table border="0" cellpadding="0" cellspacing="0" style="font-size:9px;text-align:center">
        <tr>
            <td>
                KABALIKAT PARA SA MAUNLAD NA BUHAY<br>
                HO-JOURNAL VOUCHER<br>
                @ViewBag.date.ToString("MMMM dd, yyyy")
            </td>
        </tr>
    </table>
    <table border="0">
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table border="1" cellpadding="0" cellspacing="0" style="font-size:9px;">
        <tr>
            <td colspan="2" align="center">JV #</td>
            <td colspan="8" align="center">PARTICULARS</td>
            <td colspan="2" align="center">DR.</td>
            <td colspan="2" align="center">CR.</td>
        </tr>
    </table>
    
    <!-- REPEATING HEADER END -->

    
    <!-- DETAILS START -->
    <table border="1" cellpadding="1" cellspacing="1" style="font-size:9px;">
    @for(var ctrDetails=@ctrHeader;ctrDetails<=@ctrHeader + 33;ctrDetails++) {
        @if(ctrDetails<@Model.Count){
            <tr>
                <td colspan="1" border="1" align="center"></td>
                <td colspan="199" border="0" align="center">
                    @if(checker!=@Model[ctrDetails].jvNo) {
                        <span>@Model[ctrDetails].jvNo</span>
                    }
                    <!-- lineCtr: @lineCtr
                    detailNo: @detailNo
                    ctrHeader: @ctrHeader
                    ctrDetails: @ctrDetails  -->
                </td>
                <td colspan="1" border="1"></td>
                <td colspan="799" border="0">
                    @if(@Model[ctrDetails].particulars=="blankspacebaby") {
                        <font color="white">hey!</font>
                    } else {
                        <span>&nbsp;@Model[ctrDetails].particulars</span>
                    }
                </td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0" align="right" valign="top">
                    @if(@Model[ctrDetails].jvNo!="") {
                        @if(@Model[ctrDetails].debit==0) {
                            
                        } else {
                            <span>@String.Format("{0:N2}",@Model[ctrDetails].debit)&nbsp;</span>
                        }
                    }
                </td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0" align="right" valign="top">
                    @if(@Model[ctrDetails].jvNo!="") {
                        @if(@Model[ctrDetails].credit==0) {
                            
                        } else {
                            <span>@String.Format("{0:N2}",@Model[ctrDetails].credit)&nbsp;</span>
                        }
                    }
                </td>
                <td colspan="1" border="1"></td>
            </tr>
            
           
             

            checker = @Model[ctrDetails].jvNo;
            lineCtr++;
            detailNo++;
            totalDebit+=@Model[ctrDetails].debit;
            totalCredit+=@Model[ctrDetails].credit;
        } else if(ctrDetails==@Model.Count) {
            <tr>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0"></td>
                <td colspan="1" border="1"></td>
                <td colspan="799" border="0" align="center">****************************** NOTHING FOLLOWS ******************************</td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0"></td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0"></td>
                <td colspan="1" border="1"></td>
            </tr>

            <tr>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0" align="center">TOTAL: </td>
                <td colspan="1" border="1"></td>
                <td colspan="799" border="0" align="center"></td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0" align="right"><b>@String.Format("{0:N2}",@totalDebit)&nbsp;</b></td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0" align="right"><b>@String.Format("{0:N2}",@totalCredit)&nbsp;</b></td>
                <td colspan="1" border="1"></td>
            </tr>

            lineCtr++;
            detailNo++;
            lineCtr++;
            detailNo++;
        } else {
            <tr>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0"><font color="white">BLANK</font></td>
                <td colspan="1" border="1"></td>
                <td colspan="799" border="0"></td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0"></td>
                <td colspan="1" border="1"></td>
                <td colspan="199" border="0"></td>
                <td colspan="1" border="1"></td>
            </tr>
            lineCtr++;
            <!-- detailNo++; -->
        }

        
    }
    </table>

    ctrHeader+=lineCtr;
    lineCtr=0;
    <!-- DETAILS END -->

    <!-- REPEATING FOOTER START -->

    
    
    <table border="1" cellpadding="0" cellspacing="0" style="font-size:9px;">
        <tr>
            <td colspan="2" align="center">
                PREPARED BY:<br><br>
                RMC
            </td>
            <td colspan="2" align="center">
                CHECKED BY:<br><br>
                RLP
            </td>
            <td colspan="2" align="center">
                APPROVED BY:<br><br>
                CGR/MEB
            </td>
            <td colspan="4" align="center"></td>
            <td colspan="4" align="center">
                JOURNAL VOUCHER NO.<br>
                HEAD OFFICE<br>
                @ViewBag.jvNumberRange
            </td>
        </tr>
    </table>
    <table border="1" cellpadding="0" cellspacing="0" style="font-size:9px;">
        <tr>
            <td colspan="10" align="center"></td>
            <td colspan="4" align="center">@ViewBag.date.ToString("MMMMyyyy").ToUpper()</td>
        </tr>
    </table>
    
    <!-- REPEATING FOOTER END -->
    <div style='page-break-before:always'></div>
    }
</body>
</html>