<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="1" cellpadding="0" style="font-size:7" width="100%">
        <tbody>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kmbidevrepo/images/kmbi_logo.jpg" width="55px" height="42px"/>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    
                </td>
            </tr>
            <tr>
                <td colspan="5" style="font-size: 7px">
                    <h3>KMBI</h3>
                    <i>"Partner for a Progressive Life"</i>
                </td>
                <td colspan="4" align="right" valign="bottom">
                    <b><u>INDIVIDUAL LEDGER</u></b>
                </td>
            </tr>
            <tr>
                <td colspan="7"></td>
                <td colspan="1" align="right">
                    Transaction No: 
                </td>
                <td colspan="1" align="right">
                    <b>@Model.transactionNo</b>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Account No
                </td>
                <td colspan="9">
                    @Model.accountNo
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Client Name
                </td>
                <td colspan="7">
                    <b>@Model.clientName</b>
                </td>
                <td colspan="1" align="right">
                    PRINCIPAL AMOUNT
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.principalAmount)</b>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Address:
                </td>
                <td colspan="7">
                    @Model.address
                </td>
                <td colspan="1" align="right">
                    INTEREST AMOUNT
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.interestAmount)</b>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Center:
                </td>
                <td colspan="7">
                    @Model.center
                </td>
                <td colspan="1">
                    
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.principalAmount + @Model.interestAmount)</b>
                </td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table border="1" cellspacing="0" cellpadding="0" style="font-size:6.5" width="100%">
        <thead>
            <tr align="center" style="font-weight:bold">
                <td colspan="5" bordercolor="white"></td>
                <td colspan="6">PAST DUE</td>
                <td colspan="6">PAYMENTS</td>
                <td colspan="6">BALANCES</td>
                <td colspan="2" bordercolor="white" cellspacing="0"></td>
            </tr>
            <tr align="center" style="font-weight:bold">
                <td>Week</td>
                <td colspan="2">OR Date</td>
                <td colspan="2">OR Number</td>
                <td colspan="2">Principal</td>
                <td colspan="2">Interest</td>
                <td colspan="2">CBU</td>
                <td colspan="2">Principal</td>
                <td colspan="2">Interest</td>
                <td colspan="2">CBU</td>
                <td colspan="2">Principal</td>
                <td colspan="2">Interest</td>
                <td colspan="2">CBU</td>
                <td colspan="2">Total Payments</td>
            </tr>
        </thead>
        <tbody>
            @{
                decimal totPaymentPrincipal = 0;
                decimal totPaymentInterest = 0;
                decimal totPaymentCbu = 0;
            }
            @foreach(var r in @Model.repLedgerIndividualLine) {
                totPaymentPrincipal += (decimal)@r.paymentPrincipal;
                totPaymentInterest += (decimal)@r.paymentInterest;
                totPaymentCbu += (decimal)@r.paymentCBU;

                <tr align="right">        
                    <td align="center">@r.weekNo.00</td>
                    <td colspan="2" align="center">
                        @foreach(var p in @r.payments) {
                            @String.Format("{0:MM/dd/yyyy}", @p.orDate)<br>
                        }
                    </td>
                    <td colspan="2" align="left">
                        @foreach(var p in @r.payments) {
                            <span>&nbsp;@p.orNo</span><br>
                        }
                    </td>
                    <td colspan="2">@String.Format("{0:N2}", @r.pastDuePrincipal)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.pastDueInterest)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.pastDueCBU)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.paymentPrincipal)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.paymentInterest)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.paymentCBU)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.balancePrincipal)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.balanceInterest)&nbsp;</td>
                    <td colspan="2">@String.Format("{0:N2}", @r.balanceCBU)&nbsp;</td>
                    <td colspan="2"><b>@String.Format("{0:N2}", @r.totalPayment)&nbsp;</b></td>
                </tr>
            }
        </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:6.5;font-weight:bold" width="100%">
        <tr>
            <td>TOTAL</td>
            <td colspan="10"></td>
            <td colspan="2" align="right">@String.Format("{0:N2}", @totPaymentPrincipal)&nbsp;</td>
            <td colspan="2" align="right">@String.Format("{0:N2}", @totPaymentInterest)&nbsp;</td>
            <td colspan="2" align="right">@String.Format("{0:N2}", @totPaymentCbu)&nbsp;</td>
            <td colspan="6"><td colspan="2" align="right">@String.Format("{0:N2}", (@totPaymentPrincipal + @totPaymentInterest + @totPaymentCbu))&nbsp;</td></td>
            
        </tr>
    </table>
</body>
</html>