<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
        <tbody>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/kmbidevrepo/images/kmbi_logo.jpg" width="55px" height="42px"/>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    
                </td>
            </tr>
            <tr>
                <td colspan="5" style="font-size: 7px">
                    <h3>KMBI</h3>
                    <i>"Partner for a Progressive Life"</i>
                </td>
                <td colspan="4" align="right" valign="bottom">
                    <b><u>CENTER'S TRANSACTION LEDGER</u></b>
                </td>
            </tr>
            <tr>
                <td colspan="7"></td>
                <td align="right">
                    Transaction No: 
                </td>
                <td colspan="1" align="right">
                    <b>@Model.transactionNo</b>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    Center Name:
                </td>
                <td colspan="1">
                    <b>@Model.centerName</b>
                </td>
                <td colspan="8">
                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Loan Amount (Principal)
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.loanAmountPrincipal)</b>
                </td>
                <td></td>
                <td colspan="2">
                    Loan Amount (Interest)
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.loanAmountInterest)</b>
                </td>
                <td colspan="3">

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Loan Balance (Principal)
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.loanBalancePrincipal)</b>
                </td>
                <td></td>
                <td colspan="2">
                    Loan Balance (Interest)
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.loanBalanceInterest)</b>
                </td>
                <td colspan="3">
                    
                </td>
            </tr>
            <tr>
                <td colspan="3">
                </td>
                <td></td>
                <td colspan="2">
                    CBU Balance:
                </td>
                <td colspan="1" align="right">
                    <b>@String.Format("{0:N2}", @Model.cbuBalance)</b>
                </td>
                <td colspan="3">
                    
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table border="1" cellspacing="0" cellpadding="0" style="font-size:6.5" width="100%">
        <thead>
            <tr align="center" style="font-weight: bold">
                <td colspan="9" bordercolor="white"></td>
                <td colspan="6">LOAN PAYMENTS</td>
                <td colspan="6">LOAN BALANCES</td>
                <td colspan="6">CBU</td>
            </tr>
            <tr align="center" style="font-weight: bold">
                <td>#</td>
                <td colspan="6">Client Name</td>
                <td>Week No.</td>
                <td>Loan Cycle</td>
                <td colspan="2">Principal</td>
                <td colspan="2">Interest</td>
                <td colspan="2">Total</td>
                <td colspan="2">Principal</td>
                <td colspan="2">Interest</td>
                <td colspan="2">Total</td>
                <td colspan="3">Payment</td>
                <td colspan="3">Balance</td>
            </tr>
        </thead>
        <tbody>
            @{
                double totPaymentsPrincipal = 0;
                double totPaymentsInterest = 0;
                double totPaymentsCbu = 0;
                double ctr = 0;
            }
            @foreach(var l in @Model.repLedgerPerClientPerWeekLine) {
                totPaymentsPrincipal += @l.paymentPrincipal;
                totPaymentsInterest += @l.paymentInterest;
                totPaymentsCbu += @l.cbuPayment;
                ctr++;
                <tr>
                    <td align="center">@ctr</td>
                    <td colspan="6">&nbsp;@l.clientName</td>
                    <td align="center">@l.weekNo</td>
                    <td align="center">@l.loanCycle</td>
                    <td colspan="2" align="right">@String.Format("{0:N2}", @l.paymentPrincipal)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:N2}", @l.paymentInterest)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:N2}", (@l.paymentPrincipal + @l.paymentInterest))&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:N2}", @l.balancePrincipal)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:N2}", @l.balanceInterest)&nbsp;</td>
                    <td colspan="2" align="right">@String.Format("{0:N2}", (@l.balancePrincipal + @l.balanceInterest))&nbsp;</td>
                    <td colspan="3" align="right">@String.Format("{0:N2}", @l.cbuPayment)&nbsp;</td>
                    <td colspan="3" align="right">@String.Format("{0:N2}", @l.cbuBalance)&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:6.5" width="100%">
        <tr>
            <td><b>&nbsp;TOTAL</b></td>
            <td colspan="8"></td>
            <td colspan="2" align="right"><b>@String.Format("{0:N2}", @totPaymentsPrincipal)&nbsp;</b></td>
            <td colspan="2" align="right"><b>@String.Format("{0:N2}", @totPaymentsInterest)&nbsp;</b></td>
            <td colspan="2" align="right"><b>@String.Format("{0:N2}", (@totPaymentsPrincipal + @totPaymentsInterest))&nbsp;</b></td>
            <td colspan="6"></td>
            <td colspan="3" align="right"><b>@String.Format("{0:N2}", @totPaymentsCbu)&nbsp;</b></td>
            <td colspan="3" align="right"><b>@String.Format("{0:N2}",(@Model.cbuBalance - @totPaymentsCbu))&nbsp;</b></td>
        </tr>
    </table>
    <br>
</body>
</html>