
<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="3" cellpadding="3" style="font-size:9" width="100%">
        <tbody>
                <tr>
                    <td>OR List for Date Range : @String.Format("{0:MM/dd/yyyy}", @ViewBag.dateFrom) to @String.Format("{0:MM/dd/yyyy}", @ViewBag.dateTo)</td>
                </tr>
        </tbody>
    </table>
    <br>
    <table border="1" cellspacing="3" cellpadding="3" style="font-size:7" width="100%">
        <thead>
            <tr style="font-weight: bold">
                <td>OR Number</td>
                <td>Date</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(var r in @Model) {
                    <td>@r.no</td>
                    <td>@String.Format("{0:MM/dd/yyyy}", @r.paidAt)</td>
                    <td>@String.Format("{0:N2}", @r.amount)</td>
                }
                
            </tr>
        </tbody>
    </table>
</body>
</html>