<html>
    <head>
        <title></title>
    </head>
<body>
    <table border="0" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
        <tr>
            <td>
                KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.<br>
                @Model.jobGradeDesc<br>
                Payroll Summary<br>
                For the period of @Model.periodFrom.ToString("MMMM dd") - @Model.periodTo.ToString("dd, yyyy")<br>
                Cut-off: @Model.cutOffFrom.ToString("MMMM dd") - @Model.cutOffTo.ToString("MMMM dd")<br>
            </td>
        </tr>
    </table>
    <br>
    <table border=".5" cellspacing="1" cellpadding="3" style="font-size:8" width="100%">
        <tr style="text-align: center">
            <td colspan="3"></td>
            <td>RATE PER MONTH</td>
            <td>RATE PER DAY</td>
            <td>BASIC</td>
            <td>ADJ</td>
            <td>HOLIDAY PAY</td>
            <td>OT PAY</td>
            <td>ABSENT / LATE</td>
            <td>GROSS TAXABLE INCOME</td>
            <td>AP</td>
            <td>RICE SUBSIDY</td>
            <td>GROSS PAY</td>
            <td>TAX</td>
            @if(@Model.periodFrom.ToString("dd")=="01") {
                <td>HDMF CALAMITY</td>
                <td>HDMF HOUSING</td>
                <td>HDMF MPL</td>
                <td>HDMF MP2</td>
                <td>SSS SALARY LOAN</td>
            } else if(@Model.periodFrom.ToString("dd")=="16") {
                <td>HDMF PREMIUM CONTRIBUTION</td>
                <td>SSS PREMIUM CONTRIBUTION</td>
                <td>PHILHEALTH CONTRIBUTION</td>
            }
        </tr>
        @{
            var ctr=0;
        }
       
        @foreach(var item in @Model.details) {
            ctr = ctr+1;
            <tr style="text-align: right">
                <td colspan="3" style="text-align: left">@item.fullname</td>
                <td>@String.Format("{0:N2}",@item.monthlyRate)</td>
                <td>@String.Format("{0:N2}",@item.ratePerDay)</td>
                <td>@String.Format("{0:N2}",@item.basicPay)</td>
                <td>@String.Format("{0:N2}",@item.adjustment)</td>
                <td>@String.Format("{0:N2}",@item.holidayPay)</td>
                <td>@String.Format("{0:N2}",@item.overtimePay)</td>
                <td>@String.Format("{0:N2}",@item.absentLate)</td>
                <td>@String.Format("{0:N2}",@item.grossTaxableIncome)</td>
                <td>@String.Format("{0:N2}",@item.ap)</td>
                <td>@String.Format("{0:N2}",@item.riceSubsidy)</td>
                <td>@String.Format("{0:N2}",@item.grossPay)</td>
                <td>@String.Format("{0:N2}",@item.witholdingTax)</td>

                @if(@Model.periodFrom.ToString("dd")=="01") {
                    <td>@String.Format("{0:N2}",@item.hdmfCalamity)</td>
                    <td>@String.Format("{0:N2}",@item.hdmfHousing)</td>
                    <td>@String.Format("{0:N2}",@item.hdmfMpl)</td>
                    <td>@String.Format("{0:N2}",@item.hdmfMp2)</td>
                    <td>@String.Format("{0:N2}",@item.sssSalaryLoan)</td>
                } else if(@Model.periodFrom.ToString("dd")=="16") {
                    <td>@String.Format("{0:N2}",@item.hdmfPremiumContribution)</td>
                    <td>@String.Format("{0:N2}",@item.sssPremiumContribution)</td>
                    <td>@String.Format("{0:N2}",@item.phicPremiumContribution)</td>
                }
            </tr>
        }
        <tr style="text-align: right">
            <td colspan="3" style="text-align: left">TOTALS</td>
            <td>@String.Format("{0:N2}",@Model.totals.monthlyRate)</td>
            <td>@String.Format("{0:N2}",@Model.totals.ratePerDay)</td>
            <td>@String.Format("{0:N2}",@Model.totals.basicPay)</td>
            <td>@String.Format("{0:N2}",@Model.totals.adjustment)</td>
            <td>@String.Format("{0:N2}",@Model.totals.holidayPay)</td>
            <td>@String.Format("{0:N2}",@Model.totals.overtimePay)</td>
            <td>@String.Format("{0:N2}",@Model.totals.absentLate)</td>
            <td>@String.Format("{0:N2}",@Model.totals.grossTaxableIncome)</td>
            <td>@String.Format("{0:N2}",@Model.totals.ap)</td>
            <td>@String.Format("{0:N2}",@Model.totals.riceSubsidy)</td>
            <td>@String.Format("{0:N2}",@Model.totals.grossPay)</td>
            <td>@String.Format("{0:N2}",@Model.totals.witholdingTax)</td>
            @if(@Model.periodFrom.ToString("dd")=="01") {
                <td>@String.Format("{0:N2}",@Model.totals.hdmfCalamity)</td>
                <td>@String.Format("{0:N2}",@Model.totals.hdmfHousing)</td>
                <td>@String.Format("{0:N2}",@Model.totals.hdmfMpl)</td>
                <td>@String.Format("{0:N2}",@Model.totals.hdmfMp2)</td>
                <td>@String.Format("{0:N2}",@Model.totals.sssSalaryLoan)</td>
            } else if(@Model.periodFrom.ToString("dd")=="16") {
                <td>@String.Format("{0:N2}",@Model.totals.hdmfPremiumContribution)</td>
                <td>@String.Format("{0:N2}",@Model.totals.sssPremiumContribution)</td>
                <td>@String.Format("{0:N2}",@Model.totals.phicPremiumContribution)</td>
            }
        </tr>
    </table>

    <div style='page-break-before:always'></div>

    <table border="0" cellspacing="0" cellpadding="0" style="font-size:7" width="100%">
        <tr>
            <td>
                KABALIKAT PARA SA MAUNLAD NA BUHAY, INC.<br>
                @Model.jobGradeDesc<br>
                Payroll Summary<br>
                For the period of @Model.periodFrom.ToString("MMMM dd") - @Model.periodTo.ToString("dd, yyyy")<br>
                Cut-off: @Model.cutOffFrom.ToString("MMMM dd") - @Model.cutOffTo.ToString("MMMM dd")<br>
            </td>
        </tr>
    </table>
    <br>
    <table border=".5" cellspacing="1" cellpadding="3" style="font-size:8" width="100%">
        <tr style="text-align: center">
            <td colspan="3"></td>
            <td>FIDELITY</td>
            <td>FHG LOAN PAYABLE</td>
            <td>FHG SHARE CAPITAL</td>
            <td>FHG SAVINGS</td>
            <td>FHG INSURANCE</td>
            <td>FHG OTHERS</td>
            <td>AR</td>
            <td>AR OTHERS</td>
            <td>AR MISC.</td>
            <td>AR PERSONAL CALLS</td>
            <td>TOTAL DEDUCTION</td>
            <td>NET PAY</td>
        </tr>
        @{
            var ctr2=0;
        }
       
        @foreach(var item in @Model.details) {
            ctr2 = ctr2+1;
            <tr style="text-align: right">
                <td colspan="3" style="text-align: left">@item.fullname</td>
                <td>@String.Format("{0:N2}",@item.fidelity)</td>
                <td>@String.Format("{0:N2}",@item.fhgLoanPayable)</td>
                <td>@String.Format("{0:N2}",@item.fhgShareCapital)</td>
                <td>@String.Format("{0:N2}",@item.fhgSavings)</td>
                <td>@String.Format("{0:N2}",@item.fhgInsurance)</td>
                <td>@String.Format("{0:N2}",@item.fhgOthers)</td>
                <td>@String.Format("{0:N2}",@item.ar)</td>
                <td>@String.Format("{0:N2}",@item.arOthers)</td>
                <td>@String.Format("{0:N2}",@item.arMisc)</td>
                <td>@String.Format("{0:N2}",@item.arPersonalCalls)</td>
                <td>@String.Format("{0:N2}",@item.totalDeduction)</td>
                <td>@String.Format("{0:N2}",@item.netPay)</td>
            </tr>
        }
        <tr style="text-align: right">
            <td colspan="3" style="text-align: left">TOTALS</td>
            <td>@String.Format("{0:N2}",@Model.totals.fidelity)</td>
            <td>@String.Format("{0:N2}",@Model.totals.fhgLoanPayable)</td>
            <td>@String.Format("{0:N2}",@Model.totals.fhgShareCapital)</td>
            <td>@String.Format("{0:N2}",@Model.totals.fhgSavings)</td>
            <td>@String.Format("{0:N2}",@Model.totals.fhgInsurance)</td>
            <td>@String.Format("{0:N2}",@Model.totals.fhgOthers)</td>
            <td>@String.Format("{0:N2}",@Model.totals.ar)</td>
            <td>@String.Format("{0:N2}",@Model.totals.arOthers)</td>
            <td>@String.Format("{0:N2}",@Model.totals.arMisc)</td>
            <td>@String.Format("{0:N2}",@Model.totals.arPersonalCalls)</td>
            <td>@String.Format("{0:N2}",@Model.totals.totalDeduction)</td>
            <td>@String.Format("{0:N2}",@Model.totals.netPay)</td>
        </tr>
    </table>
</body>
</html>