@model kmbi_core_master.reports.Models.repPromisorryNote
@using kmbi_core_master.helpers

<html>
    <head>
        <title></title>
    </head>
    <body>
        
        @{


            DateTime maturityDate =  DateTime.Now;
            double weeklyAmount = 0;
            double loanPlusInterest = 0;

            maturityDate = @Model.disbursementDate.AddMonths(6).Date;
            var mdate = maturityDate.ToString("MM/dd/yyyy");
            var pnDate = @Model.disbursementDate.ToString("MM/dd/yyyy");
            var firstPaymentDate = @Model.firstPaymentDate.ToString("MM/dd/yyyy");

            weeklyAmount = (@Model.amounts.principalAmount + @Model.amounts.interestAmount) / @Model.loanType.term;
            var wAmount = String.Format("{0:N2}", weeklyAmount);

            loanPlusInterest = @Model.amounts.principalAmount + @Model.amounts.interestAmount;
            var loanPInterest = String.Format("{0:N2}", loanPlusInterest);


            string wordsLoanPInterest = num2words.Convert(Convert.ToDecimal(loanPInterest));
            string wordsWAmount = num2words.Convert(Convert.ToDecimal(wAmount));

        }
        
        

        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7" width="100%">
            <tbody>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <img src="@($"{@ViewBag.root}{"kmbidevrepo/images/kmbi_logo.jpg"}")" width="55px" height="42px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="font-size: 7px">
                        <h3>KMBI</h3>
                        <i>"Partner for a Progressive Life"</i>
                    </td>
                    <td colspan="4" align="right" valign="bottom">
                        <b><u>PROMISSORY NOTE</u></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        
                    </td>
                </tr>
                <tr>
                    
                    
                    <td colspan="2">PN Date:</td>
                    <td colspan="2"><b>@pnDate</b></td>
                    <td colspan="3"></td>
                    <td colspan="2">PN No:</td>
                    <td align="right"><b>@Model.center[0].code</b></td>
                </tr>
                <tr>
                    <td colspan="2">Maturity Date:</td>
                    <td colspan="2"><b>@mdate</b></td>
                    <td colspan="3"></td>
                    <td colspan="2">Halaga (Principal):</td>
                    <td align="right"><b>@String.Format("{0:N2}", @Model.amounts.principalAmount)</b></td>
                </tr>
                
            </tbody>
        </table>

        <!--<table border="1" cellspacing="1" cellpadding="2" style="font-size:6" width="100%">
            <tr>
                <td colspan="2">&nbsp;</td>
                <td colspan="96">-->
                    <table border="0" cellspacing="1" cellpadding="4" style="font-size:8;" width="100%" bordercolor="gray">
                        <tbody>
                            <tr>
                                <td style="text-align:justify; text-indent: 10em">
                                    <font color="white">-------------------------</font>Sa halagang natanggap at bilang katunayan ng pagkakautang, <b><u>Kami</u></b> ay nangangakong magbabayad sa Kabalikat para sa
                                    Maunlad na Buhay, Inc. (KMBI) ng halagang <i><u>@wordsLoanPInterest</u></i> (@loanPInterest) na may
                                    buwanang tubo na (3.33%) porsyento at maaaring bayaran sa loob ng (@Model.loanType.term) na lingguhang paghuhulog. Ang paunang bayad ay sa
                                    @firstPaymentDate at ang panghuling bayad ay sa @mdate, malinaw sa amin na ang kabuuang lingguhang pagbabayad ay
                                    nagkakahalaga ng <i><u>@wordsWAmount</u></i> (@wAmount).
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font color="white">-------------------------</font>Kung sakaling <b><u>Kami</u></b> ay hindi makabayad sa takdang panahon ng lingguhang pagbabayad, ang kabuuang balanse ng aming
                                    pagkakautang ay aming babayaran na may kaukulang tubo na gaya ng nakasulat sa itaas mula sa panahon ng aming pagpalya.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>    
                    <table border=".2" cellspacing="1" cellpadding="2" style="font-size:6;" width="100%" bordercolor="gray">
                        <tbody>
                            <tr style="font-weight: bold; text-align:center">
                                <td colspan="3">#</td>
                                <td colspan="37">Pangalan nang Miyembro</td>
                                <td colspan="15">ID Number</td>
                                <td colspan="15">Petsa</td>
                                <td colspan="15">Halaga</td>
                                <td colspan="15">Lagda</td>
                            </tr>
                            @{
                                int c = 0;
                                double tot = 0;
                            }
                            @foreach (kmbi_core_master.coreMaster.Models.loanMembers mem in @Model.members)
                            {
                                c = c + 1;
                                tot = tot + @mem.principalAmount * 1.2;
                                <tr>
                                    <td colspan="3" align="center">@c</td>
                                    <td colspan="37">@mem.name.first @mem.name.middle @mem.name.last</td>
                                    <td colspan="15" align="center">@mem.issuedId.number</td>
                                    <td colspan="15" align="center">@String.Format("{0:MM/dd/yyyy}",@mem.issuedId.date)</td>
                                    <td colspan="15" align="right">@String.Format("{0:N2}", @mem.principalAmount * 1.2)</td>
                                    <td colspan="15">&nbsp;</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table border="0" cellspacing="1" cellpadding="2" style="font-size:8" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="70" align="right">KABUUANG HALAGA :</td>
                                <td colspan="15" align="right"> <b>@String.Format("{0:N2}", tot)</b></td>
                                <td colspan="15">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellspacing="1" cellpadding="2" style="font-size:8" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="10"><font color="white">-------------------------</font>Saksi ang aking lagda at selyong panatak ngayong ika- __________ araw ng buwan ng ________, dito sa _______.<br>
                                Kas. Blg. ___________<br>
                                Pahina Blg. _________</td>
                            </tr>
                        </tbody>
                    </table>
                <!--</td>
                <td colspan="2">&nbsp;</td>
            </tr>
        </table>-->
        
    </body>
</html>