@model kmbi_core_master.reports.Models.repProspectiveClients

<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7" width="100%">
            <tbody>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <img src="@($"{@ViewBag.root}{"kmbidevrepo/images/kmbi_logo.jpg"}")" width="55px" height="42px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="font-size: 7px">
                        <h3>KMBI</h3>
                        <i>"Partner for a Progressive Life"</i>
                    </td>
                    <td colspan="4" align="right" valign="bottom">
                        <b><u>LIST OF PROSPECTIVE CLIENTS</u></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td colspan="4" align="right">
                        Reference No: <b>@Model.referenceId</b>
                    </td>
                </tr>
                <tr>
                    <td>Center Name:</td>
                    <td><b>@Model.center.FirstOrDefault().code</b></td>
                    <td>Cycle No:</td>
                    <td colspan="7"><b>@Model.center.FirstOrDefault().loanCycle</b></td>
                </tr>
                <tr>
                    <td>Center Address:</td>
                    <td colspan="9"><b>@Model.center.FirstOrDefault().address</b></td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table border=".2" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr style="font-weight: bold">
                    <td colspan="5" align="center">#</td>
                    <td colspan="25" align="center">Ref ID</td>
                    <td colspan="30" align="center">Name of Client</td>
                    <td colspan="40" align="center">Business</td>
                </tr>
                @{ int c = 0; }
                @foreach (kmbi_core_master.coreMaster.Models.loanMembers mem in @Model.members)
                {
                    c = c + 1;
                    <tr>
                        <td colspan="5" align="center">@c</td>
                        <td colspan="25">@mem.memberId</td>
                        <td colspan="30">@mem.name.first @mem.name.middle @mem.name.last</td>
                        <td colspan="40">@mem.businessName</td>
                    </tr>
                }
            </tbody>
        </table>
        <br><br><br>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr>
                    <td colspan="10">
                        Prepared By:</td>
                </tr>
                <tr>
                    <td colspan="10">________________________________</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>