@model kmbi_core_master.reports.Models.repSola
<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7" width="100%">
            <tbody>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <img src="@($"{@ViewBag.root}{"kmbidevrepo/images/kmbi_logo.jpg"}")" width="55px" height="42px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="font-size: 7px">
                        <h3>KMBI</h3>
                        <i>"Partner for a Progressive Life"</i>
                    </td>
                    <td colspan="4" align="right" valign="bottom">
                        <b><u>SUMMARY OF LOAN APPLICATION</u></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td colspan="4" align="right">
                        Reference No: <b>@Model.referenceId</b>
                    </td>
                </tr>
                <tr>
                    <td>Center Name:</td>
                    <td><b>@Model.center.FirstOrDefault().code</b></td>
                    <td>Cycle No:</td>
                    <td colspan="7"><b>@Model.centerLoanCycle</b></td>
                </tr>
                <tr>
                    <td>Center Address:</td>
                    <td colspan="9"><b>@Model.center.FirstOrDefault().address</b></td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table border=".2" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr style="font-weight: bold">
                    <td colspan="3" align="center">Client Name</td>
                    <td colspan="3" align="center">Line of Business</td>
                    <td align="center">Cycle No</td>
                    <td align="center">Credit 
                    </td>
                    <td align="center">Prev. Loan</td>
                    <td align="center">Loan Approved</td>
                </tr>
                @{ 
                    int c = 0;
                    double tot = 0;
                  }
                @foreach (kmbi_core_master.coreMaster.Models.loanMembers mem in @Model.members)
                {
                    c = c + 1;
                    //tot = tot;
                    <tr>
                        <td colspan="3">@c. @mem.name.first @mem.name.middle @mem.name.last</td>
                        <td colspan="3">@mem.businessName</td>
                        <td align="center">@mem.loanCycle</td>
                        <td align="right">@String.Format("{0:N2}", @mem.creditLimitAmount)</td>
                        <td align="right">@String.Format("{0:N2}", @mem.principalAmount)</td>
                        <td align="right">@String.Format("{0:N2}", @mem.principalAmount)</td>
                    </tr>
                }
            </tbody>
        </table>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tr style="font-weight: bold">
                <td colspan="10" align="right">@String.Format("{0:N2}", @tot)</td>
            </tr>
        </table>
        <br><br><br>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr>
                    <td colspan="3">
                        Prepared By:</td>
                    <td colspan="3">
                        Checked By:</td>
                    <td colspan="3">
                        Approved By:</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">_________________________________________</td>
                    <td colspan="3">_________________________________________</td>
                    <td colspan="3">_________________________________________</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3"><b></b></td>
                    <td colspan="3"><b></b></td>
                    <td colspan="3"><b></b></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3"><i></i></td>
                    <td colspan="3"><i></i></td>
                    <td colspan="3"><i></i></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </body>

    
</html>