@model kmbi_core_master.reports.Models.repUpfrontFees
<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7" width="100%">
            <tbody>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <img src="@($"{@ViewBag.root}{"kmbidevrepo/images/kmbi_logo.jpg"}")" width="55px" height="42px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="font-size: 7px">
                        <h3>KMBI</h3>
                        <i>"Partner for a Progressive Life"</i>
                    </td>
                    <td colspan="4" align="right" valign="bottom">
                        <b><u>UPFRONT FEES</u></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td colspan="4" align="right">
                        Reference No: <b>@Model.referenceId</b>
                    </td>
                </tr>
                <tr>
                    <td>Center Name:</td>
                    <td><b>@Model.center[0].code</b></td>
                    <td>Cycle No:</td>
                    <td colspan="7"><b>@Model.center[0].loanCycle</b></td>
                </tr>
                <tr>
                    <td>Center Address:</td>
                    <td colspan="9"><b>@Model.center[0].address</b></td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table border=".2" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr style="font-weight: bold">
                    <td colspan="3" align="center">Client Name</td>
                    <td align="center">Cycle No</td>
                    <td align="center">Loan</td>
                    <td align="center">Processing Fee</td>
                    <td align="center">MI Premium</td>
                    <td align="center">CGLI</td>
                    <td align="center">CBU</td>
                    <td align="center">DST</td>
                    <td align="center">Total</td>
                </tr>
                @{
                    int c = 0;
                    double totLoan = 0;
                    double totProcessingFee = 0;
                    double totMI = 0;
                    double totCGLI = 0;
                    double totCBU = 0;
                    double totDST = 0;
                    double totTotal = 0;
                }
                @foreach (kmbi_core_master.coreMaster.Models.loanMembers mem in @Model.members)
                {
                    c = c + 1;
                    totLoan = totLoan + @mem.principalAmount;
                    totProcessingFee = totProcessingFee + @mem.upfrontFees.loanProcessingFee;
                    totMI = totMI + @mem.upfrontFees.miPremium;
                    totCGLI = totCGLI + @mem.upfrontFees.cgli;
                    totCBU = totCBU + @mem.upfrontFees.CBUAmount;
                    totDST = totDST + @mem.upfrontFees.dst;
                    totTotal = totTotal + @mem.upfrontFees.total;
                    <tr>
                        <td colspan="3">@c @mem.name.first @mem.name.middle @mem.name.last</td>
                        <td align="center">@mem.loanCycle</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.principalAmount)</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.upfrontFees.loanProcessingFee)</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.upfrontFees.miPremium)</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.upfrontFees.cgli)</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.upfrontFees.CBUAmount)</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.upfrontFees.dst)</td>
                        <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @mem.upfrontFees.total)</td>
                    </tr>
                }
            </tbody>
        </table>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tr style="font-weight: bold">
                <td colspan="3" align="right">TOTAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td></td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totLoan)</td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totProcessingFee)</td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totMI)</td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totCGLI)</td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totCBU)</td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totDST)</td>
                <td align="right">@String.Format("{0:0,0.00;0,0.00;-}", @totTotal)</td>
            </tr>
        </table>
        <br><br><br>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr>
                    <td colspan="3">
                        Prepared By:</td>
                    <td colspan="7">
                        Checked By:</td>
                </tr>
                <tr>
                    <td colspan="3">________________________________________</td>
                    <td colspan="7">________________________________________</td>
                </tr>
                <tr>
                    <td colspan="3"><b></b></td>
                    <td colspan="7"><b></b></td>>
                </tr>
                <tr>
                    <td colspan="3"><i>Branch Accounting Assistant (BAA)</i></td>
                    <td colspan="7"><i>Branch Accountant (BA)</i></td>
                </tr>
            </tbody>
        </table>
    </body>

    
</html>