
@model kmbi_core_master.reports.Models.repWeeklyScheduleModel
<html>
    <head>
        <title></title>
    </head>
    <body>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7" width="100%">
            <tbody>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td rowspan="3">
                        <img src="@($"{@ViewBag.root}{"kmbidevrepo/images/kmbi_logo.jpg"}")" width="55px" height="42px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="font-size: 7px">
                        <h3>KMBI</h3>
                        <i>"Partner for a Progressive Life"</i>
                    </td>
                    <td colspan="4" align="right" valign="bottom">
                        <b><u>AMORTIZATION SCHEDULE</u></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td colspan="4" align="right">
                        Reference No: <b>@Model.referenceId</b>
                    </td>
                </tr>
                <tr>
                    <td>Center Name:</td>
                    <td><b>@Model.center[0].code</b></td>
                    <td>Cycle No:</td>
                    <td colspan="7"><b>@Model.center[0].loanCycle</b></td>
                </tr>
                <tr>
                    <td>Center Address:</td>
                    <td colspan="9"><b>@Model.center[0].address</b></td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table border=".2" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tbody>
                <tr style="font-weight: bold">
                    <td rowspan="2" align="center">Week No</td>
                    <td rowspan="2" align="center">Repayment Date</td>
                    <td colspan="4" align="center">Expected Payments</td>
                    <td rowspan="2" align="center">Total</td>
                </tr>
                <tr style="font-weight: bold">
                    <td align="center">Principal</td>
                    <td align="center">Interest</td>
                    <td align="center">Sub-Total</td>
                    <td align="center">CBU</td>
                </tr>

                @{
                    double principal = 0;
                    double interest = 0;
                    double cbu = 0;
                    double total = 0;
                    double subTotal = 0;
                    double subTotalTotal = 0;
                }

                @foreach(kmbi_core_master.reports.Models.repWeeklyScheduleModelLine line in @Model.lines)
                {
                    subTotal = @line.totalPrincipalDue + @line.totalInterestDue;
                    <tr>

                        <td align="center">@line.weekNo</td>
                        <td align="center">@if (@line.collectionDate!=Convert.ToDateTime("01/01/0001 12:00 AM")){@String.Format("{0:MM/dd/yyyy}",@line.collectionDate)}</td>
                        <td align="right">@String.Format("{0:N2}", @line.totalPrincipalDue)</td>
                        <td align="right">@String.Format("{0:N2}", @line.totalInterestDue)</td>
                        <td align="right">@String.Format("{0:N2}", @subTotal)</td>
                        <td align="right">@String.Format("{0:N2}", @line.totalCBUDue)</td>
                        <td align="right">@String.Format("{0:N2}", @line.total)</td>
                    </tr>
                    principal = principal + @line.totalPrincipalDue;
                    interest = interest + @line.totalInterestDue;
                    subTotalTotal = subTotalTotal + subTotal;
                    cbu = cbu + @line.totalCBUDue;
                    total = total + (@line.totalPrincipalDue + @line.totalInterestDue + @line.totalCBUDue);
                }
            </tbody>
        </table>
        <table border="0" cellspacing="1" cellpadding="2" style="font-size:7;" width="100%" bordercolor="gray">
            <tr style="font-weight: bold">
                <td align="right" colspan="2"></td>

                <td align="right">@String.Format("{0:N2}", @principal)</td>
                <td align="right">@String.Format("{0:N2}", @interest)</td>
                <td align="right">@String.Format("{0:N2}", @subTotalTotal)</td>
                <td align="right">@String.Format("{0:N2}", @cbu)</td>
                <td align="right">@String.Format("{0:N2}", @total)</td>
            </tr>
        </table>
        <br><br><br>
      
    </body>

    
</html>